{
    "openapi": "3.0.0",
    "info": {
        "title": "eCards API",
        "description": "Find more info here: [eCards Service](https://github.com/fdriesenaar/eCards)",
        "externalDocs": {
            "description": "Find more info here",
            "url": "https://github.com/fdriesenaar/eCards"
        },
        "version": "1.0.0",
        "license": {
            "name": "Copyright Dappre B.V. 2019 - all rights reserved",
            "url": "https://dappre.com"
        }
    },
    "servers": [
        {
            "url": "https://dev2-card.testonly.digital-me.nl/ecards/v1",
            "description": "Development 2 server"
        },
        {
            "url": "https://card.dolden.net/ecards/v1",
            "description": "Acceptance server"
        },
        {
            "url": "https://card.digital-me.nl/ecards/v1",
            "description": "Production server"
        }
    ],
    "paths": {
        "/users/{userId}": {
            "delete": {
                "tags": [
                    "Users"
                ],
                "description": "See [Delete user](https://github.com/fdriesenaar/eCards#delete-user).",
                "operationId": "Delete user",
                "responses": {
                    "204": {
                        "$ref": "#/components/responses/userDeleted"
                    },
                    "default": {
                        "$ref": "#/components/responses/default"
                    }
                }
            },
            "parameters": [
                {
                    "$ref": "#/components/parameters/userId"
                }
            ]
        },
        "/users/{userId}/api": {
            "get": {
                "tags": [
                    "api"
                ],
                "description": "See [GET Api](https://github.com/fdriesenaar/eCards#api-info).",
                "operationId": "api",
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/api"
                    },
                    "default": {
                        "$ref": "#/components/responses/default"
                    }
                }
            },
            "parameters": [
                {
                    "$ref": "#/components/parameters/userId"
                }
            ]
        },
        "/users/{userId}/actions": {
            "post": {
                "tags": [
                    "Actions"
                ],
                "description": "See [Post actions](https://github.com/fdriesenaar/eCards#post-actions).",
                "operationId": "Post actions",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/actionList"
                            },
                            "examples": {
                                "example": {
                                    "$ref": "#/components/examples/actionList"
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "204": {
                        "$ref": "#/components/responses/actionPosted"
                    },
                    "default": {
                        "$ref": "#/components/responses/default"
                    }
                }
            },
            "parameters": [
                {
                    "$ref": "#/components/parameters/userId"
                }
            ]
        },
        "/users/{userId}/dataExchange": {
            "get": {
                "tags": [
                    "Data Exchange"
                ],
                "description": "tbd",
                "operationId": "Get",
                "responses": {
                    "default": {
                        "$ref": "#/components/responses/default"
                    }
                }
            },
            "parameters": [
                {
                    "$ref": "#/components/parameters/userId"
                }
            ]
        },
        "/users/{userId}/eCards": {
            "get": {
                "tags": [
                    "eCards"
                ],
                "description": "tbd",
                "operationId": "Get",
                "responses": {
                    "default": {
                        "$ref": "#/components/responses/default"
                    }
                }
            },
            "parameters": [
                {
                    "$ref": "#/components/parameters/userId"
                }
            ]
        },
        "/users/{userId}/services/offers": {
            "get": {
                "tags": [
                    "Offers"
                ],
                "description": "tbd",
                "operationId": "Get",
                "responses": {
                    "default": {
                        "$ref": "#/components/responses/default"
                    }
                }
            },
            "parameters": [
                {
                    "$ref": "#/components/parameters/userId"
                }
            ]
        },
        "/users/{userId}/api/schema": {
            "get": {
                "tags": [
                    "Schema"
                ],
                "description": "tbd",
                "operationId": "Get",
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/apiSchema"
                    },
                    "default": {
                        "$ref": "#/components/responses/default"
                    }
                }
            },
            "parameters": [
                {
                    "$ref": "#/components/parameters/userId"
                }
            ]
        },
        "/users/{userId}/eCardTemplates": {
            "get": {
                "tags": [
                    "Templates"
                ],
                "description": "tbd",
                "operationId": "Get",
                "responses": {
                    "default": {
                        "$ref": "#/components/responses/default"
                    }
                }
            },
            "parameters": [
                {
                    "$ref": "#/components/parameters/userId"
                }
            ]
        },
        "/users/{userId}/eCardTemplatesSelections": {
            "get": {
                "tags": [
                    "Templates Selections"
                ],
                "description": "tbd",
                "operationId": "Get",
                "responses": {
                    "default": {
                        "$ref": "#/components/responses/default"
                    }
                }
            },
            "parameters": [
                {
                    "$ref": "#/components/parameters/userId"
                }
            ]
        }
    },
    "components": {
        "schemas": {
            "action": {
                "description": "See [Action](https://github.com/fdriesenaar/eCards#action)",
                "type": "object",
                "properties": {
                    "creator_id": {
                        "description": "Creator [user id](https://github.com/fdriesenaar/eCards#user-id)",
                        "type": "string",
                        "minItems": 1,
                        "maxItems": 1
                    },
                    "dateStart": {
                        "description": "Datetimestamp of action start",
                        "type": "string",
                        "format": "iso 8601",
                        "minItems": 1,
                        "maxItems": 1
                    },
                    "dateEnd": {
                        "description": "Datetimestamp of action end",
                        "type": "string",
                        "format": "iso 8601",
                        "minItems": 1,
                        "maxItems": 1
                    },
                    "eCard": {
                        "$ref": "#/components/schemas/eCard",
                        "minItems": 0,
                        "maxItems": 1
                    },
                    "location": {
                        "$ref": "#/components/schemas/geometry",
                        "minItems": 0,
                        "maxItems": 1
                    },
                    "offer": {
                        "$ref": "#/components/schemas/offer",
                        "minItems": 0,
                        "maxItems": 1
                    },
                    "type": {
                        "description": "Action type",
                        "type": "string",
                        "enum": [
                            "CreateAction",
                            "InteractAction",
                            "DeleteAction",
                            "ViewOfferAction",
                            "UpdateAction"
                        ],
                        "minItems": 1,
                        "maxItems": 1
                    },
                    "userAgent": {
                        "description": "Information about the eCards client extracted from the user-agent http request header",
                        "type": "string",
                        "minItems": 1,
                        "maxItems": 1
                    }
                }
            },
            "actionList": {
                "description": "[Action](https://github.com/fdriesenaar/eCards#action) list",
                "type": "array",
                "items": {
                    "$ref": "#/components/schemas/action"
                }
            },
            "apiInfo": {
                "type": "object",
                "properties": {
                    "currentVersion": {
                        "type": "string"
                    },
                    "links": {
                        "type": "object",
                        "properties": {
                            "actions": {
                                "description": "Current Actions Endpoint url, see [Actions](#/Actions)",
                                "type": "string",
                                "format": "url",
                                "example": "https://dev2-card.testonly.digital-me.nl/ecards/v1/users/rudy/actions"
                            },
                            "dataExchange": {
                                "description": "Current Data Exchange Endpoint url, see [Data Exchange](#/Data%20Exchange)",
                                "type": "string",
                                "format": "url",
                                "example": "https://dev2-card.testonly.digital-me.nl/ecards/v1/users/rudy/dataExchange"
                            },
                            "eCards": {
                                "description": "Current eCards Endpoint url, see [eCards](#/eCards)",
                                "type": "string",
                                "format": "url",
                                "example": "https://dev2-card.testonly.digital-me.nl/ecards/v1/users/rudy/eCards"
                            },
                            "offers": {
                                "description": "Current Offers Endpoint url, see [Offers](#/Offers)",
                                "type": "string",
                                "format": "url",
                                "example": "https://dev2-card.testonly.digital-me.nl/ecards/v1/users/rudy/services/offers"
                            },
                            "schema": {
                                "description": "Current Schema Endpoint url, see [Schema](#/Schema)",
                                "type": "string",
                                "format": "url",
                                "example": "https://dev2-card.testonly.digital-me.nl/ecards/v1/users/rudy/api/schema"
                            },
                            "templates": {
                                "description": "Current Templates Endpoint url, see [Templates](#/Templates)",
                                "type": "string",
                                "format": "url",
                                "example": "https://dev2-card.testonly.digital-me.nl/ecards/v1/users/rudy/eCardTemplates"
                            },
                            "templatesSelections": {
                                "description": "Current Templates Selections Endpoint url, see [Templates Selections](#/Templates Selections)",
                                "type": "string",
                                "format": "url",
                                "example": "https://dev2-card.testonly.digital-me.nl/ecards/v1/users/rudy/eCardTemplatesSelections"
                            },
                            "user": {
                                "description": "Current User Endpoint url, see [Users](#/Users)",
                                "type": "string",
                                "format": "url",
                                "example": "https://dev2-card.testonly.digital-me.nl/ecards/v1/users/rudy"
                            }
                        }
                    },
                    "linkTemplates": {
                        "type": "object",
                        "properties": {
                            "services": {
                                "type": "string",
                                "format": "url",
                                "example": "https://dev2-card.testonly.digital-me.nl/ecards/v1/users/rudy/eCardTemplates/{templateId}/services/{service}"
                            }
                        }
                    },
                    "serverTime": {
                        "description": "Server time in unix time in mili seconds.",
                        "type": "number"
                    }
                }
            },
            "appAuthentication": {
                "description": "See [App Authentication](https://github.com/fdriesenaar/eCards#app-authentication)",
                "type": "http",
                "scheme": "Basic"
            },
            "brandName": {
                "type": "object",
                "properties": {
                    "name": {
                        "description": "Brand name",
                        "type": "string",
                        "minItems": 1,
                        "maxItems": 1
                    }
                }
            },
            "cardId": {
                "descripion": "Card identifier as displayed on a physical card as text or as scannable code",
                "externalDocs": {
                    "description": "DAP SDD #6 - cardId",
                    "url": "https://digital-me.atlassian.net/wiki/spaces/DAP/pages/61079553/SDD+6+-+cardId"
                },
                "type": "object",
                "properties": {
                    "symbology": {
                        "description": "Symbology used to present a scannable code on the eCard",
                        "type": "string",
                        "enum": [
                            "EAN-13",
                            "UPC-A",
                            "EAN-8",
                            "UPC-E",
                            "Code 39",
                            "Code 128",
                            "GS1-128",
                            "GS1 QR Code",
                            "ITF-14",
                            "GS1 DataBar",
                            "PDF417",
                            "Aztec Code",
                            "Code 39 mod 43",
                            "Code 93",
                            "GS1 DataMatrix",
                            "ITF"
                        ],
                        "minItems": 1,
                        "maxItems": 1
                    },
                    "prefix": {
                        "description": "Prefix",
                        "type": "string",
                        "minItems": 0,
                        "maxItems": 1
                    },
                    "postfix": {
                        "description": "Postfix",
                        "type": "string",
                        "minItems": 0,
                        "maxItems": 1
                    },
                    "visibility": {
                        "description": "",
                        "type": "string",
                        "minItems": 1,
                        "maxItems": 1
                    },
                    "validator": {
                        "description": "",
                        "type": "string",
                        "minItems": 1,
                        "maxItems": 1
                    },
                    "mask": {
                        "description": "",
                        "type": "string",
                        "minItems": 1,
                        "maxItems": 1
                    }
                }
            },
            "cardIdSymbology": {
                "description": "Supported card code symbol types",
                "type": "array",
                "items": {
                    "type": "string",
                    "title": "Card code symbol type",
                    "enum": [
                        "Aztec Code",
                        "Codabar",
                        "Code 128",
                        "Code 39",
                        "Code 39 mod 43",
                        "Code 93",
                        "DataBar Expanded",
                        "DataBar-14",
                        "DataMatrix",
                        "EAN-128",
                        "EAN-13",
                        "EAN-8",
                        "GS1 DataMatrix",
                        "GS1 QR Code",
                        "GS1-128",
                        "GS1-13",
                        "ITF",
                        "ITF-14",
                        "MaxiCode",
                        "PDF417",
                        "QR",
                        "UPC-E"
                    ]
                }
            },
            "eCard": {
                "description": "See [eCard](https://github.com/fdriesenaar/eCards#ecard)",
                "type": "object",
                "properties": {
                    "ballance": {
                        "description": "Card ballance",
                        "type": "number",
                        "format": "cents",
                        "minItems": 0,
                        "maxItems": 1
                    },
                    "cardIdCipher": {
                        "description": "Card id cipher",
                        "type": "string",
                        "minItems": 1,
                        "maxItems": 1
                    },
                    "cardIdCipherIV": {
                        "description": "Card id cipher iv",
                        "type": "string",
                        "minItems": 1,
                        "maxItems": 1
                    },
                    "cardIdCipherKey": {
                        "description": "Card id cipher key",
                        "type": "string",
                        "minItems": 1,
                        "maxItems": 1
                    },
                    "cardIdCipherPin": {
                        "description": "Card id cipher pin",
                        "type": "string",
                        "nullable": true,
                        "minItems": 1,
                        "maxItems": 1
                    },
                    "cardIdSymbology": {
                        "allOf": [
                            {
                                "minItems": 1,
                                "maxItems": 1
                            },
                            {
                                "$ref": "#/components/schemas/cardIdSymbology"
                            }
                        ]
                    },
                    "creator_id": {
                        "description": "Creator user id",
                        "type": "string",
                        "minItems": 1,
                        "maxItems": 1
                    },
                    "currency": {
                        "description": "Currency code",
                        "type": "string",
                        "format": "ISO 4217 currency code",
                        "default": "EUR",
                        "minItems": 0,
                        "maxItems": 1
                    },
                    "dateBalanceUpdated": {
                        "description": "Datetimestamp of latest balance update",
                        "type": "string",
                        "format": "iso 8601",
                        "minItems": 0,
                        "maxItems": 1
                    },
                    "dateCreated": {
                        "description": "Datetimestamp of creation",
                        "type": "string",
                        "format": "iso 8601",
                        "minItems": 1,
                        "maxItems": 1
                    },
                    "dateDeleted": {
                        "description": "Datetimestamp of deletion",
                        "type": "string",
                        "format": "iso 8601",
                        "nullable": true,
                        "minItems": 0,
                        "maxItems": 1
                    },
                    "dateIssued": {
                        "description": "Datetimestamp of card issue",
                        "type": "string",
                        "format": "iso 8601",
                        "minItems": 0,
                        "maxItems": 1
                    },
                    "dateModified": {
                        "description": "Datetimestamp of latest modification",
                        "type": "string",
                        "format": "iso 8601",
                        "nullable": true,
                        "minItems": 1,
                        "maxItems": 1
                    },
                    "description": {
                        "description": "eCard description",
                        "type": "string",
                        "nullable": true,
                        "minItems": 0,
                        "maxItems": 1
                    },
                    "eCardTemplate": {
                        "allOf": [
                            {
                                "nullable": true,
                                "minItems": 1,
                                "maxItems": 1
                            },
                            {
                                "$ref": "#/components/schemas/eCardTemplate"
                            }
                        ]
                    },
                    "name": {
                        "description": "name",
                        "type": "string",
                        "nullable": true,
                        "minItems": 1,
                        "maxItems": 1
                    },
                    "notes": {
                        "description": "notes",
                        "type": "string",
                        "nullable": true,
                        "minItems": 0,
                        "maxItems": 1
                    },
                    "sortName": {
                        "description": "Sort name",
                        "type": "string",
                        "nullable": true,
                        "minItems": 1,
                        "maxItems": 1
                    },
                    "style": {
                        "allOf": [
                            {
                                "minItems": 0,
                                "maxItems": 1
                            },
                            {
                                "$ref": "#/components/schemas/style"
                            }
                        ]
                    },
                    "transactions": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/transaction"
                        },
                        "minItems": 0,
                        "maxItems": 1
                    }
                }
            },
            "eCardTemplate": {
                "description": "eCard template",
                "properties": {
                    "brand": {
                        "allOf": [
                            {
                                "minItems": 1,
                                "maxItems": 1
                            },
                            {
                                "$ref": "#/components/schemas/brandName"
                            }
                        ]
                    },
                    "cardIdSymbology": {
                        "allOf": [
                            {
                                "minItems": 1,
                                "maxItems": 1
                            },
                            {
                                "$ref": "#/components/schemas/cardIdSymbology"
                            }
                        ]
                    },
                    "cardId": {
                        "allOf": [
                            {
                                "minItems": 0,
                                "maxItems": 1
                            },
                            {
                                "$ref": "#/components/schemas/cardId"
                            }
                        ]
                    },
                    "creator": {
                        "type": "object",
                        "description": "Creator of the eCard template",
                        "properties": {
                            "name": {
                                "type": "string",
                                "description": "Creator name",
                                "minItems": 1,
                                "maxItems": 1
                            }
                        }
                    },
                    "dateCreated": {
                        "description": "Datetimestamp of creation",
                        "type": "string",
                        "format": "iso 8601",
                        "minItems": 1,
                        "maxItems": 1
                    },
                    "dateDeleted": {
                        "description": "Datetimestamp of deletion",
                        "type": "string",
                        "format": "iso 8601",
                        "nullable": true,
                        "minItems": 0,
                        "maxItems": 1
                    },
                    "dateModified": {
                        "description": "Datetimestamp of latest modification",
                        "type": "string",
                        "format": "iso 8601",
                        "nullable": true,
                        "minItems": 1,
                        "maxItems": 1
                    },
                    "keywords": {
                        "type": "array",
                        "items": {
                            "title": "Keyword",
                            "type": "string"
                        },
                        "minItems": 1,
                        "maxItems": 1
                    },
                    "name": {
                        "type": "string",
                        "nullable": true,
                        "description": "Name to be displayed on the eCard.",
                        "minItems": 0,
                        "maxItems": 1
                    },
                    "notes": {
                        "type": "string",
                        "nullable": true,
                        "minItems": 0,
                        "maxItems": 1
                    },
                    "services": {
                        "allOf": [
                            {
                                "minItems": 1,
                                "maxItems": 1
                            },
                            {
                                "$ref": "#/components/schemas/services"
                            }
                        ]
                    },
                    "sortName": {
                        "type": "string",
                        "nullable": true,
                        "minItems": 1,
                        "maxItems": 1
                    },
                    "style": {
                        "allOf": [
                            {
                                "minItems": 1,
                                "maxItems": 1
                            },
                            {
                                "$ref": "#/components/schemas/style"
                            }
                        ]
                    },
                    "types": {
                        "type": "array",
                        "items": {
                            "description": "eCard type",
                            "type": "string",
                            "enum": [
                                "customer_membership_account",
                                "customer_rebate_account",
                                "customer_loyalty_program",
                                "customer_subscription_program",
                                "stored_value_instrument",
                                "stored_value_instrument_open",
                                "stored_value_instrument_closed"
                            ]
                        },
                        "minItems": 0,
                        "maxItems": 1
                    },
                    "url": {
                        "description": "Webshop url",
                        "type": "string",
                        "format": "url",
                        "minItems": 0,
                        "maxItems": 1
                    }
                }
            },
            "geometry": {
                "type": "object"
            },
            "offer": {
                "type": "object"
            },
            "style": {
                "type": "object"
            },
            "transaction": {
                "type": "object"
            },
            "userId": {
                "description": "See [User Id](https://github.com/fdriesenaar/eCards#user-id)",
                "type": "string"
            }
        },
        "responses": {
            "actionPosted": {
                "description": "Action posted"
            },
            "api": {
                "description": "Api response",
                "content": {
                    "application/json": {
                        "schema": {
                            "$ref": "#/components/schemas/apiInfo"
                        },
                        "examples": {
                            "apiGetAppAuthenticated": {
                                "$ref": "#/components/examples/apiInfo"
                            }
                        }
                    }
                }
            },
            "apiSchema": {
                "content": {
                    "examples": {
                        "example": {
                            "$schema": "http://json-schema.org/draft-04/schema#",
                            "id": "https://digital-me.com/schema+json/v1#",
                            "components": {
                                "parameters": {
                                    "eCardObjectId": {
                                        "name": "ecard_id",
                                        "description": "eCard object id",
                                        "in": "path",
                                        "required": true,
                                        "schema": {
                                            "$ref": "#/components/schemas/ObjectId"
                                        }
                                    },
                                    "eCardObjectIds": {
                                        "name": "_id",
                                        "description": "eCard object id",
                                        "in": "query",
                                        "required": false,
                                        "schema": {
                                            "$ref": "#/components/schemas/ObjectId"
                                        },
                                        "style": "form",
                                        "explode": true
                                    },
                                    "eCardTemplateId": {
                                        "name": "ecard_template_id",
                                        "description": "eCard template object id",
                                        "in": "path",
                                        "schema": {
                                            "$ref": "#/components/schemas/ObjectId"
                                        }
                                    },
                                    "eCardTemplateObjectIds": {
                                        "name": "_id",
                                        "description": "eCard template object id",
                                        "in": "query",
                                        "required": false,
                                        "schema": {
                                            "type": "array"
                                        },
                                        "style": "form",
                                        "explode": true
                                    },
                                    "Projection": {
                                        "name": "projection",
                                        "in": "query",
                                        "description": "Project fields to return from request, see https://docs.mongodb.com/manual/tutorial/project-fields-from-query-results/#projection.",
                                        "example": "%7B%22_id%22%3A%20true%2C%20%22dateModified%22%3A%20true%7D",
                                        "allowReserved": false,
                                        "required": false
                                    },
                                    "UserId": {
                                        "name": "user_id",
                                        "in": "path",
                                        "required": true,
                                        "schema": {
                                            "$ref": "#/components/schemas/UserId"
                                        }
                                    }
                                },
                                "schemas": {
                                    "Action": {
                                        "id": "#Action",
                                        "type": "object",
                                        "title": "The Action Schema",
                                        "additionalProperties": false,
                                        "required": [
                                            "type",
                                            "creator_id",
                                            "dateStart",
                                            "dateEnd"
                                        ],
                                        "properties": {
                                            "_id": {
                                                "type": "string",
                                                "title": "_id"
                                            },
                                            "type": {
                                                "type": "string",
                                                "enum": [
                                                    "CreateAction",
                                                    "InteractAction",
                                                    "DeleteAction",
                                                    "ViewOfferAction",
                                                    "UpdateAction"
                                                ],
                                                "title": "Action Type"
                                            },
                                            "creator_id": {
                                                "type": [
                                                    "string",
                                                    "null"
                                                ],
                                                "title": "Action creator_id"
                                            },
                                            "dateStart": {
                                                "type": [
                                                    "string"
                                                ],
                                                "title": "Action dateStart"
                                            },
                                            "dateEnd": {
                                                "type": [
                                                    "string"
                                                ],
                                                "title": "Action dateEnd"
                                            },
                                            "eCard": {
                                                "$ref": "#/components/schemas/eCard"
                                            },
                                            "location": {
                                                "$ref": "#/components/schemas/Geometry"
                                            },
                                            "offer": {
                                                "$ref": "#/components/schemas/Offer"
                                            },
                                            "userAgent": {
                                                "type": "string",
                                                "title": "Action User Agent"
                                            }
                                        }
                                    },
                                    "AddressComponents": {
                                        "title": "Address components",
                                        "description": "Address components, loosely based on address_components as defined as part of the Google Places API, see https://developers.google.com/maps/documentation/geocoding/intro#Types.",
                                        "type": "object",
                                        "properties": {
                                            "administrativeAreaLevel1": {
                                                "type": "string"
                                            },
                                            "administrativeAreaLevel2": {
                                                "type": "string"
                                            },
                                            "administrativeAreaLevel3": {
                                                "type": "string"
                                            },
                                            "administrativeAreaLevel4": {
                                                "type": "string"
                                            },
                                            "administrativeAreaLevel5": {
                                                "type": "string"
                                            },
                                            "colloquialArea": {
                                                "type": "string"
                                            },
                                            "countryCode2": {
                                                "description": "NB: This property has no Google equivalent.",
                                                "type": "string"
                                            },
                                            "countryCode3": {
                                                "description": "NB: This property has no Google equivalent.",
                                                "type": "string"
                                            },
                                            "countryName": {
                                                "type": "string"
                                            },
                                            "locality": {
                                                "type": "string"
                                            },
                                            "postalCode": {
                                                "type": "string"
                                            },
                                            "route": {
                                                "type": "string"
                                            },
                                            "streetAddress": {
                                                "type": "string"
                                            },
                                            "streetName": {
                                                "description": "NB: This property has no Google equivalent.",
                                                "type": "string"
                                            },
                                            "streetNumber": {
                                                "type": "string"
                                            }
                                        }
                                    },
                                    "ApiResponseBody": {
                                        "content": {
                                            "application/json": {
                                                "schema": {
                                                    "type": "object",
                                                    "required": [
                                                        "currentVersion",
                                                        "links",
                                                        "linkTemplates",
                                                        "serverTime"
                                                    ],
                                                    "properties": {
                                                        "currentVersion": {
                                                            "type": "string"
                                                        },
                                                        "links": {
                                                            "type": "object",
                                                            "additionalProperties": false,
                                                            "required": [
                                                                "actions",
                                                                "eCards",
                                                                "offers",
                                                                "places",
                                                                "schema",
                                                                "templateSelections",
                                                                "templates",
                                                                "user"
                                                            ],
                                                            "properties": {
                                                                "actions": {
                                                                    "description": "Actions path endpoint address",
                                                                    "type": "string"
                                                                },
                                                                "eCards": {
                                                                    "description": "eCards path endpoint address",
                                                                    "type": "string"
                                                                },
                                                                "offers": {
                                                                    "description": "Offers path endpoint address",
                                                                    "type": "string"
                                                                },
                                                                "places": {
                                                                    "description": "Places path endpoint address",
                                                                    "type": "string"
                                                                },
                                                                "schema": {
                                                                    "description": "Schema path endpoint address",
                                                                    "type": "string"
                                                                },
                                                                "templateSelections": {
                                                                    "description": "Template selections path endpoint address",
                                                                    "type": "string"
                                                                },
                                                                "templates": {
                                                                    "description": "Templates path endpoint address",
                                                                    "type": "string"
                                                                },
                                                                "user": {
                                                                    "description": "User path endpoint address",
                                                                    "type": "string"
                                                                }
                                                            }
                                                        },
                                                        "linkTemplates": {
                                                            "description": "See https://digital-me.atlassian.net/wiki/spaces/DAP/pages/1605639/SDD+5+eCard+service+descriptor.",
                                                            "type": "object",
                                                            "additionalProperties": false,
                                                            "required": [
                                                                "services"
                                                            ],
                                                            "properties": {
                                                                "services": {
                                                                    "type": "string"
                                                                }
                                                            }
                                                        },
                                                        "serverTime": {
                                                            "type": "number"
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    },
                                    "BalanceAndTransactionsResponseBody": {
                                        "title": "Balance and transactions response body",
                                        "id": "#BalanceAndTransactions/Response",
                                        "type": "object",
                                        "additionalProperties": false,
                                        "required": [
                                            "balance",
                                            "balanceFactor",
                                            "currency",
                                            "dateBalanceUpdated",
                                            "search",
                                            "transactions"
                                        ],
                                        "properties": {
                                            "balance": {
                                                "type": "number"
                                            },
                                            "balanceFactor": {
                                                "type": "number"
                                            },
                                            "currency": {
                                                "type": "string"
                                            },
                                            "dateBalanceUpdated": {
                                                "type": "string"
                                            },
                                            "search": {
                                                "type": "object",
                                                "additionalProperties": false,
                                                "required": [
                                                    "cardCode",
                                                    "dateSearch",
                                                    "paging"
                                                ],
                                                "properties": {
                                                    "cardCode": {
                                                        "type": "string"
                                                    },
                                                    "dateSearch": {
                                                        "type": "string"
                                                    },
                                                    "paging": {
                                                        "$ref": "#/components/schemas/Paging"
                                                    }
                                                }
                                            },
                                            "transactions": {
                                                "type": "object",
                                                "additionalProperties": false,
                                                "required": [
                                                    "totalCount",
                                                    "page"
                                                ],
                                                "properties": {
                                                    "page": {
                                                        "type": "array",
                                                        "items": {
                                                            "$ref": "#/components/schemas/Transaction"
                                                        }
                                                    },
                                                    "totalCount": {
                                                        "description": "Total number of transactions.",
                                                        "type": "number"
                                                    }
                                                }
                                            }
                                        }
                                    },
                                    "BrandName": {
                                        "type": "object",
                                        "title": "Brand name",
                                        "required": [
                                            "name"
                                        ],
                                        "properties": {
                                            "name": {
                                                "type": "string",
                                                "title": "Brand Name",
                                                "description": "Brand name to be used on the eCard."
                                            }
                                        }
                                    },
                                    "CardId": {
                                        "title": "Card Id",
                                        "description": "See https://digital-me.atlassian.net/wiki/spaces/DAP/pages/61079553/SDD+6+-+cardId.",
                                        "type": "object",
                                        "additionalProperties": false,
                                        "required": [
                                            "mask",
                                            "prefix",
                                            "suffix",
                                            "symbology",
                                            "validator",
                                            "visibility"
                                        ],
                                        "properties": {
                                            "mask": {
                                                "type": "string"
                                            },
                                            "prefix": {
                                                "type": [
                                                    "null",
                                                    "string"
                                                ]
                                            },
                                            "suffix": {
                                                "type": [
                                                    "null",
                                                    "string"
                                                ]
                                            },
                                            "symbology": {
                                                "type": "string"
                                            },
                                            "validator": {
                                                "type": "string"
                                            },
                                            "visibility": {
                                                "type": "string"
                                            }
                                        }
                                    },
                                    "CardIdSymbology": {
                                        "type": [
                                            "array",
                                            "null"
                                        ],
                                        "title": "Card code symbologies",
                                        "items": {
                                            "type": "string",
                                            "title": "Card code symbology",
                                            "enum": [
                                                "Aztec Code",
                                                "Codabar",
                                                "Code 128",
                                                "Code 39",
                                                "Code 39 mod 43",
                                                "Code 93",
                                                "DataBar Expanded",
                                                "DataBar-14",
                                                "DataMatrix",
                                                "EAN-128",
                                                "EAN-13",
                                                "EAN-8",
                                                "GS1 DataMatrix",
                                                "GS1 QR Code",
                                                "GS1-128",
                                                "GS1-13",
                                                "ITF",
                                                "ITF-14",
                                                "MaxiCode",
                                                "PDF417",
                                                "QR",
                                                "UPC-E"
                                            ]
                                        }
                                    },
                                    "Distance": {
                                        "title": "Distance",
                                        "id": "#Distance",
                                        "type": "object",
                                        "required": [
                                            "number"
                                        ],
                                        "properties": {
                                            "number": {
                                                "type": "number"
                                            },
                                            "lengthUnitOfMeasure": {
                                                "type": "string",
                                                "enum": [
                                                    "meter",
                                                    "kilometer",
                                                    "mile"
                                                ]
                                            }
                                        }
                                    },
                                    "eCardsAccepted": {
                                        "id": "#eCardsAccepted",
                                        "title": "eCards Accepted",
                                        "type": [
                                            "array",
                                            "null"
                                        ],
                                        "items": {
                                            "type": "string",
                                            "description": "eCardTemplate _id"
                                        }
                                    },
                                    "eCard": {
                                        "id": "#eCard",
                                        "title": "eCard",
                                        "allOf": [
                                            {
                                                "type": "object",
                                                "additionalProperties": true,
                                                "required": [
                                                    "_id",
                                                    "cardIdCipher",
                                                    "cardIdCipherIV",
                                                    "cardIdCipherKey",
                                                    "cardIdCipherPin",
                                                    "cardIdSymbology",
                                                    "creator_id",
                                                    "name",
                                                    "dateCreated",
                                                    "dateModified",
                                                    "eCardTemplate",
                                                    "sortName"
                                                ]
                                            },
                                            {
                                                "$ref": "#/components/schemas/eCardProperties"
                                            }
                                        ]
                                    },
                                    "eCardProperties": {
                                        "title": "eCard properties",
                                        "properties": {
                                            "_id": {
                                                "type": "string",
                                                "title": "_id"
                                            },
                                            "ballance": {
                                                "type": "number",
                                                "title": "Card ballance, eg 5.00"
                                            },
                                            "cardIdCipher": {
                                                "title": "Card id cipher",
                                                "type": "string"
                                            },
                                            "cardIdCipherIV": {
                                                "title": "Card id cipher iv",
                                                "type": "string"
                                            },
                                            "cardIdCipherKey": {
                                                "title": "Card id cipher key",
                                                "type": "string"
                                            },
                                            "cardIdCipherPin": {
                                                "title": "Card id cipher pin",
                                                "type": [
                                                    "null",
                                                    "string"
                                                ]
                                            },
                                            "cardIdSymbology": {
                                                "title": "Card code symbology",
                                                "$ref": "#/components/schemas/CardIdSymbology"
                                            },
                                            "creator_id": {
                                                "type": "string",
                                                "title": "creator_id"
                                            },
                                            "currency": {
                                                "title": "Currency code",
                                                "description": "ISO 4217 currency code, default EUR.",
                                                "type": "string"
                                            },
                                            "dateBalanceUpdated": {
                                                "type": [
                                                    "string"
                                                ],
                                                "title": "Date balance updated"
                                            },
                                            "dateCreated": {
                                                "type": [
                                                    "string"
                                                ],
                                                "title": "dateCreated"
                                            },
                                            "dateDeleted": {
                                                "type": [
                                                    "string",
                                                    "null"
                                                ],
                                                "title": "dateDeleted"
                                            },
                                            "dateIssued": {
                                                "type": "string",
                                                "title": "Date that the card was issued."
                                            },
                                            "dateModified": {
                                                "type": [
                                                    "string",
                                                    "null"
                                                ],
                                                "title": "dateModified"
                                            },
                                            "description": {
                                                "type": [
                                                    "string",
                                                    "null"
                                                ],
                                                "title": "description"
                                            },
                                            "eCardTemplate": {
                                                "allOf": [
                                                    {
                                                        "type": [
                                                            "null",
                                                            "object"
                                                        ]
                                                    },
                                                    {
                                                        "$ref": "#/components/schemas/eCardTemplateProperties"
                                                    }
                                                ]
                                            },
                                            "name": {
                                                "type": [
                                                    "string",
                                                    "null"
                                                ],
                                                "title": "name"
                                            },
                                            "notes": {
                                                "type": [
                                                    "string",
                                                    "null"
                                                ],
                                                "title": "name"
                                            },
                                            "sortName": {
                                                "type": [
                                                    "string",
                                                    "null"
                                                ],
                                                "title": "sortName"
                                            },
                                            "style": {
                                                "$ref": "#/components/schemas/Style"
                                            },
                                            "transactions": {
                                                "type": "array",
                                                "items": {
                                                    "$ref": "#/components/schemas/Transaction"
                                                }
                                            }
                                        }
                                    },
                                    "eCardDetailsRequest": {
                                        "title": "eCard Details Request",
                                        "id": "#eCard/Details/Request",
                                        "description": "eCard details request body schema",
                                        "type": "object",
                                        "properties": {
                                            "currency": {
                                                "description": "ISO 4217 currency code, default EUR.",
                                                "type": "string"
                                            },
                                            "paging": {
                                                "type": "object",
                                                "properties": {
                                                    "offset": {
                                                        "description": "Offset for returned transactions, default 10.",
                                                        "type": "number"
                                                    },
                                                    "pageSize": {
                                                        "$ref": "#/components/schemas/PageSize",
                                                        "description": "Maximum number of returned transactions."
                                                    }
                                                }
                                            },
                                            "pin": {
                                                "title": "Pin",
                                                "description": "Card pin code.",
                                                "type": "string",
                                                "maxLength": 30
                                            },
                                            "cardId": {
                                                "title": "Card code",
                                                "description": "Card code as known to the user.",
                                                "type": "string"
                                            }
                                        }
                                    },
                                    "eCardDetailsResponse": {
                                        "title": "eCard Details Response",
                                        "id": "#eCard/Details/Response",
                                        "description": "eCard details response body schema",
                                        "allOf": [
                                            {
                                                "$ref": "#/components/schemas/eCardDetailsRequest"
                                            },
                                            {
                                                "properties": {
                                                    "eCard": {
                                                        "$ref": "#/components/schemas/eCard"
                                                    }
                                                }
                                            },
                                            {
                                                "type": "object",
                                                "properties": {
                                                    "dateSearch": {
                                                        "title": "Search date",
                                                        "description": "Search datetimestamp.",
                                                        "type": "string"
                                                    }
                                                }
                                            }
                                        ]
                                    },
                                    "eCardTemplate": {
                                        "id": "#eCardTemplate",
                                        "type": [
                                            "object",
                                            "null"
                                        ],
                                        "title": "eCardTemplate",
                                        "description": "The eCard Template Schema applies to templates for eCards: digital cards, such as digital loyalty cards.",
                                        "allOf": [
                                            {
                                                "additionalProperties": false,
                                                "required": [
                                                    "_id",
                                                    "brand",
                                                    "cardIdSymbology",
                                                    "creator",
                                                    "dateCreated",
                                                    "dateModified",
                                                    "name",
                                                    "services",
                                                    "sortName",
                                                    "style"
                                                ]
                                            },
                                            {
                                                "$ref": "#/components/schemas/eCardTemplateProperties"
                                            }
                                        ]
                                    },
                                    "eCardTemplateProperties": {
                                        "id": "#eCardTemplateProperties",
                                        "title": "eCard template properties",
                                        "description": "The eCard Template Properties Schema.",
                                        "properties": {
                                            "_id": {
                                                "title": "eCard template object id",
                                                "$ref": "#/components/schemas/ObjectId"
                                            },
                                            "brand": {
                                                "$ref": "#/components/schemas/BrandName"
                                            },
                                            "cardIdSymbology": {
                                                "$ref": "#/components/schemas/CardIdSymbology"
                                            },
                                            "cardId": {
                                                "$ref": "#/components/schemas/CardId"
                                            },
                                            "creator": {
                                                "type": "object",
                                                "title": "Creator",
                                                "description": "Creator of the eCard template.",
                                                "required": [
                                                    "name"
                                                ],
                                                "properties": {
                                                    "name": {
                                                        "type": "string",
                                                        "title": "Creator name"
                                                    }
                                                }
                                            },
                                            "dateCreated": {
                                                "type": [
                                                    "string"
                                                ],
                                                "title": "dateCreated"
                                            },
                                            "dateDeleted": {
                                                "type": [
                                                    "string",
                                                    "null"
                                                ],
                                                "title": "dateDeleted"
                                            },
                                            "dateModified": {
                                                "type": [
                                                    "string",
                                                    "null"
                                                ],
                                                "title": "dateModified"
                                            },
                                            "keywords": {
                                                "type": [
                                                    "array",
                                                    "null"
                                                ],
                                                "items": {
                                                    "title": "Keyword",
                                                    "type": "string"
                                                }
                                            },
                                            "name": {
                                                "type": [
                                                    "string",
                                                    "null"
                                                ],
                                                "description": "Name to be displayed on the eCard."
                                            },
                                            "notes": {
                                                "type": [
                                                    "string",
                                                    "null"
                                                ]
                                            },
                                            "services": {
                                                "$ref": "#/components/schemas/Services"
                                            },
                                            "sortName": {
                                                "type": [
                                                    "string",
                                                    "null"
                                                ]
                                            },
                                            "style": {
                                                "$ref": "#/components/schemas/Style"
                                            },
                                            "types": {
                                                "type": "array",
                                                "items": {
                                                    "title": "eCard type",
                                                    "description": "Type name as defined in the Technical data model for the Templates collection: https://code.in.digital-me.nl/DEV/ecards/tree/master/mongodb#templates-collection.",
                                                    "type": "string",
                                                    "enum": [
                                                        "customer_membership_account",
                                                        "customer_rebate_account",
                                                        "customer_loyalty_program",
                                                        "customer_subscription_program",
                                                        "stored_value_instrument",
                                                        "stored_value_instrument_open",
                                                        "stored_value_instrument_closed"
                                                    ]
                                                }
                                            },
                                            "url": {
                                                "description": "Webshop url, see https://digital-me.atlassian.net/wiki/spaces/DAP/pages/1605639/SDD+5+eCard+service+descriptor",
                                                "type": "string"
                                            }
                                        }
                                    },
                                    "eCardTemplatesSelections": {
                                        "title": "eCard templates selections",
                                        "id": "#eCardTemplatesSelections",
                                        "type": "object",
                                        "patternProperties": {
                                            "[A-Za-z0-9_-]+": {
                                                "description": "eCard templates selections for the indicated criterium.",
                                                "type": "object",
                                                "properties": {
                                                    "order": {
                                                        "description": "List of eCard template object ids.",
                                                        "type": "array",
                                                        "items": {
                                                            "$ref": "#/components/schemas/ObjectId"
                                                        }
                                                    },
                                                    "prompt": {
                                                        "type": "object",
                                                        "patternProperties": {
                                                            "[a-z]{2}(-[A-Z]{2})?": {
                                                                "description": "Localized prompt for the indicated language.",
                                                                "type": "string"
                                                            },
                                                            "default": {
                                                                "description": "Default prompt.",
                                                                "type": "string"
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    },
                                    "Geometry": {
                                        "title": "Geometry",
                                        "id": "#Geometry",
                                        "description": "See https://schema.org/geo",
                                        "type": "object",
                                        "required": [
                                            "latitude",
                                            "longitude"
                                        ],
                                        "properties": {
                                            "latitude": {
                                                "type": "number"
                                            },
                                            "longitude": {
                                                "type": "number"
                                            }
                                        }
                                    },
                                    "HttpResponseBody": {
                                        "title": "HTTP response body",
                                        "id": "#HttpResponse",
                                        "type": "object",
                                        "additionalProperties": false,
                                        "required": [
                                            "code",
                                            "message"
                                        ],
                                        "properties": {
                                            "code": {
                                                "title": "Http response status code",
                                                "type": "string"
                                            },
                                            "message": {
                                                "title": "Response message",
                                                "type": "string"
                                            }
                                        }
                                    },
                                    "InteractActionList": {
                                        "type": "array",
                                        "title": "Interactions",
                                        "id": "#InteractActionList",
                                        "items": {
                                            "allOf": [
                                                {
                                                    "$ref": "#Action"
                                                },
                                                {
                                                    "type": "object",
                                                    "title": "Interaction",
                                                    "properties": {
                                                        "type": {
                                                            "type": "string",
                                                            "enum": [
                                                                "InteractAction"
                                                            ]
                                                        }
                                                    }
                                                }
                                            ]
                                        }
                                    },
                                    "Link": {
                                        "type": "object",
                                        "required": [
                                            "href",
                                            "rel"
                                        ],
                                        "properties": {
                                            "href": {
                                                "description": "Webshop url",
                                                "type": "string"
                                            },
                                            "rel": {
                                                "description": "Indication of the type of resource.",
                                                "example": "webshop",
                                                "type": "string"
                                            }
                                        }
                                    },
                                    "MaxDistance": {
                                        "title": "Maximum distance",
                                        "description": "Maximum distance between the search location and the place.",
                                        "id": "#MaxDistance",
                                        "allOf": [
                                            {
                                                "$ref": "#/components/schemas/Distance"
                                            },
                                            {
                                                "default": {
                                                    "number": "5",
                                                    "lengthUnitOfMeasure": "kilometer"
                                                }
                                            }
                                        ]
                                    },
                                    "Metadata": {
                                        "title": "Meta data",
                                        "id": "#Metadata",
                                        "type": "object",
                                        "required": [
                                            "source"
                                        ],
                                        "properties": {
                                            "source": {
                                                "description": "Source meta data",
                                                "type": "object",
                                                "required": [
                                                    "id",
                                                    "dateModified",
                                                    "name"
                                                ],
                                                "properties": {
                                                    "dateDeleted": {
                                                        "description": "Date of deletion",
                                                        "type": "string"
                                                    },
                                                    "dateModified": {
                                                        "description": "Date of latest modification",
                                                        "type": "string"
                                                    },
                                                    "id": {
                                                        "description": "Id as used by the source",
                                                        "type": "string"
                                                    },
                                                    "name": {
                                                        "description": "Source name",
                                                        "type": "string"
                                                    }
                                                }
                                            }
                                        }
                                    },
                                    "Name": {
                                        "type": "string",
                                        "description": "See https://schema.org/name",
                                        "title": "Name",
                                        "format": "Literal"
                                    },
                                    "ObjectId": {
                                        "title": "Object id",
                                        "description": "eCard object id, see https://docs.mongodb.com/manual/reference/method/ObjectId/",
                                        "example": "5c1383e649362d5b0414ca3c",
                                        "type": "string"
                                    },
                                    "Offer": {
                                        "title": "Offer",
                                        "id": "#Offer",
                                        "description": "Offer",
                                        "type": "object",
                                        "required": [
                                            "_id",
                                            "campaign_id",
                                            "currency",
                                            "currency_symbol",
                                            "dateCreated",
                                            "dateDelete",
                                            "dateEnd",
                                            "dateModified",
                                            "datePublish",
                                            "dateStart",
                                            "description",
                                            "images",
                                            "imagesCoupon",
                                            "links",
                                            "metadata",
                                            "name",
                                            "priority",
                                            "status",
                                            "templatesEligibility"
                                        ],
                                        "properties": {
                                            "_id": {
                                                "type": "string"
                                            },
                                            "campaign_id": {
                                                "title": "Campaing id",
                                                "type": [
                                                    "string",
                                                    "null"
                                                ]
                                            },
                                            "currency": {
                                                "title": "Currency",
                                                "type": "string"
                                            },
                                            "currency_symbol": {
                                                "title": "Currency symbol",
                                                "type": "string"
                                            },
                                            "dateCreated": {
                                                "type": "string",
                                                "title": "dateCreated"
                                            },
                                            "dateDelete": {
                                                "type": [
                                                    "string",
                                                    "null"
                                                ],
                                                "title": "dateDelete"
                                            },
                                            "dateEnd": {
                                                "type": [
                                                    "string",
                                                    "null"
                                                ],
                                                "title": "dateDelete"
                                            },
                                            "dateModified": {
                                                "type": [
                                                    "string",
                                                    "null"
                                                ],
                                                "title": "dateDelete"
                                            },
                                            "datePublish": {
                                                "type": [
                                                    "string",
                                                    "null"
                                                ],
                                                "title": "datePublish"
                                            },
                                            "dateStart": {
                                                "type": [
[...]
