{
    "openapi": "3.0.0",
    "info": {
        "title": "eCards API",
        "description": "Find more info here: [eCards API](https://code.in.digital-me.nl/DEV/ecards/tree/master/apidoc)",
        "version": "1.0.0",
        "license": {
            "name": "Copyright Dappre B.V. 2019 - all rights reserved",
            "url": "https://dappre.com"
        }
    },
    "servers": [
        {
            "url": "https://dev2-card.testonly.digital-me.nl/ecards",
            "description": "Development 2 server"
        },
        {
            "url": "https://card.dolden.net/ecards",
            "description": "Acceptance server"
        },
        {
            "url": "https://card.digital-me.nl/ecards",
            "description": "Production server"
        }
    ],
    "paths": {
        "/openapi.json": {
            "get": {
                "tags": [
                    "OpenAPI"
                ],
                "description": "Get openapi.json",
                "operationId": "Get openapi json",
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/openapiDotJson"
                    }
                }
            }
        },
        "/openapi.yaml": {
            "get": {
                "tags": [
                    "OpenAPI"
                ],
                "description": "Get openapi.yaml",
                "operationId": "Get openapi yaml",
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/openapiDotYaml"
                    }
                }
            }
        },
        "/v1/users/{userId}": {
            "delete": {
                "tags": [
                    "Users"
                ],
                "description": "See [Delete user](https://code.in.digital-me.nl/DEV/ecards/tree/master/apidoc#delete-user).",
                "operationId": "Delete user",
                "responses": {
                    "202": {
                        "$ref": "#/components/responses/httpResponseBody"
                    },
                    "204": {
                        "$ref": "#/components/responses/userDeleted"
                    },
                    "default": {
                        "$ref": "#/components/responses/default"
                    }
                }
            },
            "parameters": [
                {
                    "$ref": "#/components/parameters/userId"
                }
            ]
        },
        "/v1/users/{userId}/api": {
            "get": {
                "tags": [
                    "Get API"
                ],
                "description": "Get api info, see [GET /api](https://code.in.digital-me.nl/DEV/ecards/tree/master/apidoc#get-%2fapi).",
                "operationId": "Get api",
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/api"
                    },
                    "202": {
                        "$ref": "#/components/responses/httpResponseBody"
                    },
                    "default": {
                        "$ref": "#/components/responses/default"
                    }
                }
            },
            "parameters": [
                {
                    "$ref": "#/components/parameters/userId"
                }
            ]
        },
        "/v1/users/{userId}/api/schema": {
            "get": {
                "tags": [
                    "OpenAPI"
                ],
                "description": "OpenAPI Document for eCards in json-schema draft 4",
                "operationId": "Get api schema",
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/apiSchema"
                    },
                    "202": {
                        "$ref": "#/components/responses/httpResponseBody"
                    },
                    "default": {
                        "$ref": "#/components/responses/default"
                    }
                }
            },
            "parameters": [
                {
                    "$ref": "#/components/parameters/userId"
                }
            ]
        },
        "/v1/users/{userId}/actions": {
            "post": {
                "tags": [
                    "Actions"
                ],
                "description": "See [Post actions](https://code.in.digital-me.nl/DEV/ecards/tree/master/apidoc#post-actions).",
                "operationId": "Post actions",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/actionList"
                            },
                            "examples": {
                                "example": {
                                    "$ref": "#/components/examples/actionList"
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "202": {
                        "$ref": "#/components/responses/httpResponseBody"
                    },
                    "204": {
                        "$ref": "#/components/responses/actionPosted"
                    },
                    "default": {
                        "$ref": "#/components/responses/default"
                    }
                }
            },
            "parameters": [
                {
                    "$ref": "#/components/parameters/userId"
                }
            ]
        },
        "/v1/users/{userId}/dataExchange": {
            "get": {
                "tags": [
                    "Data Exchange"
                ],
                "description": "tbd",
                "operationId": "Get data",
                "responses": {
                    "202": {
                        "$ref": "#/components/responses/httpResponseBody"
                    },
                    "default": {
                        "$ref": "#/components/responses/default"
                    }
                }
            },
            "parameters": [
                {
                    "$ref": "#/components/parameters/userId"
                }
            ]
        },
        "/v1/users/{userId}/eCards": {
            "get": {
                "tags": [
                    "eCards"
                ],
                "description": "List eCards",
                "operationId": "List eCards",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/_id"
                    },
                    {
                        "$ref": "#/components/parameters/projection"
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/eCards"
                    },
                    "202": {
                        "$ref": "#/components/responses/httpResponseBody"
                    },
                    "default": {
                        "$ref": "#/components/responses/default"
                    }
                }
            },
            "post": {
                "tags": [
                    "eCards"
                ],
                "description": "Add eCard",
                "operationId": "Add eCard",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "empty": {
                                        "type": "boolean"
                                    }
                                },
                                "additionalProperties": {
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "default": {
                        "description": "default response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "empty": {
                                            "type": "boolean"
                                        }
                                    },
                                    "additionalProperties": {
                                        "type": "object"
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "parameters": [
                {
                    "$ref": "#/components/parameters/userId"
                }
            ]
        },
        "/v1/users/{userId}/eCards/{oid}": {
            "delete": {
                "tags": [
                    "eCards"
                ],
                "operationId": "Delete eCard",
                "responses": {
                    "202": {
                        "$ref": "#/components/responses/httpResponseBody"
                    },
                    "204": {
                        "description": "204 Response"
                    },
                    "default": {
                        "$ref": "#/components/responses/default"
                    }
                }
            },
            "put": {
                "tags": [
                    "eCards"
                ],
                "operationId": "Update eCard",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/eCardUpdate"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "200 Response"
                    },
                    "202": {
                        "$ref": "#/components/responses/httpResponseBody"
                    },
                    "default": {
                        "$ref": "#/components/responses/default"
                    }
                }
            },
            "parameters": [
                {
                    "$ref": "#/components/parameters/userId"
                },
                {
                    "$ref": "#/components/parameters/oid"
                },
                {
                    "$ref": "#/components/parameters/eCardsMetaData"
                },
                {
                    "$ref": "#/components/parameters/userAgent"
                }
            ]
        },
        "/v1/users/{userId}/eCardTemplates": {
            "get": {
                "tags": [
                    "Templates"
                ],
                "description": "Get templates",
                "operationId": "Get templates",
                "responses": {
                    "202": {
                        "$ref": "#/components/responses/httpResponseBody"
                    },
                    "default": {
                        "$ref": "#/components/responses/default"
                    }
                }
            },
            "parameters": [
                {
                    "$ref": "#/components/parameters/userId"
                }
            ]
        },
        "/v1/users/{userId}/eCardTemplates/{templateId}/services/balanceAndTransactions": {
            "post": {
                "tags": [
                    "Service Balance and Transactions"
                ],
                "description": "Get balance and transactions",
                "externalDocs": {
                    "description": "SDD #4 - eCards Balance and Transactions",
                    "url": "https://digital-me.atlassian.net/wiki/spaces/DAP/pages/33352/SDD+%234+-+eCards+Balance+and+Transactions"
                },
                "operationId": "Get balance and transations",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/balanceAndTransactionsGetFilterV1"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/balanceAndTransactions"
                    },
                    "202": {
                        "$ref": "#/components/responses/httpResponseBody"
                    },
                    "default": {
                        "$ref": "#/components/responses/default"
                    }
                }
            },
            "parameters": [
                {
                    "$ref": "#/components/parameters/userId"
                },
                {
                    "$ref": "#/components/parameters/templateId"
                }
            ]
        },
        "/v1/users/{userId}/eCardTemplates/{templateId}/services/offers": {
            "post": {
                "tags": [
                    "Service Offers"
                ],
                "description": "Get offers",
                "externalDocs": {
                    "description": "SDD #7 - eCards Offers",
                    "url": "https://digital-me.atlassian.net/wiki/spaces/DAP/pages/67567629/SDD+%237+-+Offers"
                },
                "operationId": "Get offers",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/paging"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/offers"
                    },
                    "202": {
                        "$ref": "#/components/responses/httpResponseBody"
                    },
                    "default": {
                        "$ref": "#/components/responses/default"
                    }
                }
            },
            "parameters": [
                {
                    "$ref": "#/components/parameters/userId"
                },
                {
                    "$ref": "#/components/parameters/templateId"
                }
            ]
        },
        "/v1/users/{userId}/eCardTemplates/{templateId}/services/places": {
            "post": {
                "tags": [
                    "Service Places"
                ],
                "description": "Get places",
                "externalDocs": {
                    "description": "SDD #3 - eCards Places",
                    "url": "https://digital-me.atlassian.net/wiki/spaces/DAP/pages/360649/SDD+%233+-+eCards+Places"
                },
                "operationId": "Get places",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/placesFilterV1"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/places"
                    },
                    "202": {
                        "$ref": "#/components/responses/httpResponseBody"
                    },
                    "default": {
                        "$ref": "#/components/responses/default"
                    }
                }
            },
            "parameters": [
                {
                    "$ref": "#/components/parameters/userId"
                },
                {
                    "$ref": "#/components/parameters/templateId"
                }
            ]
        },
        "/v1/users/{userId}/eCardTemplates/{templateId}/services/preCheck": {
            "post": {
                "tags": [
                    "Service Pre Check"
                ],
                "description": "Pre Check",
                "operationId": "Pre Check",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/preCheckRequestBody"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/preCheck"
                    },
                    "202": {
                        "$ref": "#/components/responses/httpResponseBody"
                    },
                    "default": {
                        "$ref": "#/components/responses/default"
                    }
                }
            },
            "parameters": [
                {
                    "$ref": "#/components/parameters/userId"
                },
                {
                    "$ref": "#/components/parameters/templateId"
                }
            ]
        },
        "/v1/users/{userId}/eCardTemplates/{templateId}/services/webshops": {
            "post": {
                "tags": [
                    "Service Webshops"
                ],
                "description": "Get webshops",
                "operationId": "Get webshops",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/paging"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/webshops"
                    },
                    "202": {
                        "$ref": "#/components/responses/httpResponseBody"
                    },
                    "default": {
                        "$ref": "#/components/responses/default"
                    }
                }
            },
            "parameters": [
                {
                    "$ref": "#/components/parameters/userId"
                },
                {
                    "$ref": "#/components/parameters/templateId"
                }
            ]
        },
        "/v1/users/{userId}/eCardTemplatesSelections": {
            "get": {
                "tags": [
                    "Templates Selections"
                ],
                "description": "tbd",
                "operationId": "Get templates selections",
                "responses": {
                    "202": {
                        "$ref": "#/components/responses/httpResponseBody"
                    },
                    "default": {
                        "$ref": "#/components/responses/default"
                    }
                }
            },
            "parameters": [
                {
                    "$ref": "#/components/parameters/userId"
                }
            ]
        },
        "/v1/users/{userId}/services/offers": {
            "get": {
                "tags": [
                    "User Offers"
                ],
                "description": "Get user offers",
                "operationId": "Get user offers",
                "responses": {
                    "202": {
                        "$ref": "#/components/responses/httpResponseBody"
                    },
                    "default": {
                        "$ref": "#/components/responses/default"
                    }
                }
            },
            "parameters": [
                {
                    "$ref": "#/components/parameters/userId"
                }
            ]
        }
    },
    "components": {
        "schemas": {
            "action": {
                "description": "See [Action](https://code.in.digital-me.nl/DEV/ecards/tree/master/apidoc#action)",
                "type": "object",
                "properties": {
                    "creator_id": {
                        "description": "Creator [user id](https://code.in.digital-me.nl/DEV/ecards/tree/master/apidoc#user-identification)",
                        "type": "string",
                        "minItems": 1,
                        "maxItems": 1
                    },
                    "dateStart": {
                        "description": "Datetimestamp of action start",
                        "type": "string",
                        "format": "iso 8601",
                        "minItems": 1,
                        "maxItems": 1
                    },
                    "dateEnd": {
                        "description": "Datetimestamp of action end",
                        "type": "string",
                        "format": "iso 8601",
                        "minItems": 1,
                        "maxItems": 1
                    },
                    "eCard": {
                        "$ref": "#/components/schemas/eCard",
                        "minItems": 0,
                        "maxItems": 1
                    },
                    "location": {
                        "$ref": "#/components/schemas/geometry",
                        "minItems": 0,
                        "maxItems": 1
                    },
                    "offer": {
                        "$ref": "#/components/schemas/offer",
                        "minItems": 0,
                        "maxItems": 1
                    },
                    "type": {
                        "description": "Action type",
                        "type": "string",
                        "enum": [
                            "CreateAction",
                            "InteractAction",
                            "DeleteAction",
                            "ViewOfferAction",
                            "UpdateAction"
                        ],
                        "minItems": 1,
                        "maxItems": 1
                    },
                    "userAgent": {
                        "description": "Information about the eCards client extracted from the user-agent http request header",
                        "type": "string",
                        "minItems": 1,
                        "maxItems": 1
                    }
                }
            },
            "actionList": {
                "description": "[Action](https://code.in.digital-me.nl/DEV/ecards/tree/master/apidoc#action) list",
                "type": "array",
                "items": {
                    "$ref": "#/components/schemas/action"
                }
            },
            "addressComponents": {
                "title": "Address components",
                "description": "Address components, loosely based on address_components as defined as part of the Google Places API, see https://developers.google.com/maps/documentation/geocoding/intro#Types.",
                "type": "object",
                "properties": {
                    "administrativeAreaLevel1": {
                        "type": "string"
                    },
                    "administrativeAreaLevel2": {
                        "type": "string"
                    },
                    "administrativeAreaLevel3": {
                        "type": "string"
                    },
                    "administrativeAreaLevel4": {
                        "type": "string"
                    },
                    "administrativeAreaLevel5": {
                        "type": "string"
                    },
                    "colloquialArea": {
                        "type": "string"
                    },
                    "countryCode2": {
                        "description": "NB: This property has no Google equivalent.",
                        "type": "string"
                    },
                    "countryCode3": {
                        "description": "NB: This property has no Google equivalent.",
                        "type": "string"
                    },
                    "countryName": {
                        "type": "string"
                    },
                    "locality": {
                        "type": "string"
                    },
                    "postalCode": {
                        "type": "string"
                    },
                    "route": {
                        "type": "string"
                    },
                    "streetAddress": {
                        "type": "string"
                    },
                    "streetName": {
                        "description": "NB: This property has no Google equivalent.",
                        "type": "string"
                    },
                    "streetNumber": {
                        "type": "string"
                    }
                }
            },
            "apiInfo": {
                "type": "object",
                "properties": {
                    "currentVersion": {
                        "type": "string"
                    },
                    "links": {
                        "type": "object",
                        "properties": {
                            "actions": {
                                "description": "Current Actions Endpoint url, see [Actions](#/Actions)",
                                "type": "string",
                                "format": "url",
                                "example": "https://dev2-card.testonly.digital-me.nl/ecards/v1/users/rudy/actions"
                            },
                            "dataExchange": {
                                "description": "Current Data Exchange Endpoint url, see [Data Exchange](#/Data%20Exchange)",
                                "type": "string",
                                "format": "url",
                                "example": "https://dev2-card.testonly.digital-me.nl/ecards/v1/users/rudy/dataExchange"
                            },
                            "eCards": {
                                "description": "Current eCards Endpoint url, see [eCards](#/eCards)",
                                "type": "string",
                                "format": "url",
                                "example": "https://dev2-card.testonly.digital-me.nl/ecards/v1/users/rudy/eCards"
                            },
                            "offers": {
                                "description": "Current Offers Endpoint url, see [Offers](#/Offers)",
                                "type": "string",
                                "format": "url",
                                "example": "https://dev2-card.testonly.digital-me.nl/ecards/v1/users/rudy/services/offers"
                            },
                            "schema": {
                                "description": "Current Schema Endpoint url, see [Schema](#/Schema)",
                                "type": "string",
                                "format": "url",
                                "example": "https://dev2-card.testonly.digital-me.nl/ecards/v1/users/rudy/api/schema"
                            },
                            "templates": {
                                "description": "Current Templates Endpoint url, see [Templates](#/Templates)",
                                "type": "string",
                                "format": "url",
                                "example": "https://dev2-card.testonly.digital-me.nl/ecards/v1/users/rudy/eCardTemplates"
                            },
                            "templatesSelections": {
                                "description": "Current Templates Selections Endpoint url, see [Templates Selections](#/Templates Selections)",
                                "type": "string",
                                "format": "url",
                                "example": "https://dev2-card.testonly.digital-me.nl/ecards/v1/users/rudy/eCardTemplatesSelections"
                            },
                            "user": {
                                "description": "Current User Endpoint url, see [Users](#/Users)",
                                "type": "string",
                                "format": "url",
                                "example": "https://dev2-card.testonly.digital-me.nl/ecards/v1/users/rudy"
                            }
                        }
                    },
                    "linkTemplates": {
                        "type": "object",
                        "properties": {
                            "services": {
                                "type": "string",
                                "format": "url",
                                "example": "https://dev2-card.testonly.digital-me.nl/ecards/v1/users/rudy/eCardTemplates/{templateId}/services/{service}"
                            }
                        }
                    },
                    "serverTime": {
                        "description": "Server time in unix time in mili seconds.",
                        "type": "number"
                    }
                }
            },
            "balanceAndTransactions": {
                "description": "Balance and Transactions response body"
            },
            "balanceAndTransactionsGetFilterV1": {
                "description": "Get Balance and Transactions request body",
                "type": "object",
                "properties": {
                    "paging": {
                        "$ref": "#/components/schemas/paging"
                    },
                    "pin": {
                        "type": "string",
                        "writeOnly": true
                    },
                    "cardCode": {
                        "type": "string"
                    },
                    "cardId": {
                        "type": "string"
                    }
                }
            },
            "brandName": {
                "type": "object",
                "properties": {
                    "name": {
                        "description": "Brand name",
                        "type": "string",
                        "minItems": 1,
                        "maxItems": 1
                    }
                }
            },
            "cardId": {
                "description": "Card identifier as displayed on a physical card as text or as scannable code",
                "externalDocs": {
                    "description": "DAP SDD #9 - cardId",
                    "url": "https://digital-me.atlassian.net/wiki/spaces/DAP/pages/88342536/SDD+%239+-+cardId"
                },
                "type": "object",
                "properties": {
                    "symbology": {
                        "description": "Symbology used to present a scannable code on the eCard",
                        "type": "string",
                        "enum": [
                            "EAN-13",
                            "UPC-A",
                            "EAN-8",
                            "UPC-E",
                            "Code 39",
                            "Code 128",
                            "GS1-128",
                            "GS1 QR Code",
                            "ITF-14",
                            "GS1 DataBar",
                            "PDF417",
                            "Aztec Code",
                            "Code 39 mod 43",
                            "Code 93",
                            "GS1 DataMatrix",
                            "ITF"
                        ],
                        "minItems": 1,
                        "maxItems": 1
                    },
                    "prefix": {
                        "description": "Prefix",
                        "type": "string",
                        "minItems": 0,
                        "maxItems": 1
                    },
                    "postfix": {
                        "description": "Postfix",
                        "type": "string",
                        "minItems": 0,
                        "maxItems": 1
                    },
                    "visibility": {
                        "description": "",
                        "type": "string",
                        "minItems": 1,
                        "maxItems": 1
                    },
                    "validator": {
                        "description": "",
                        "type": "string",
                        "minItems": 1,
                        "maxItems": 1
                    },
                    "mask": {
                        "description": "",
                        "type": "string",
                        "minItems": 1,
                        "maxItems": 1
                    }
                }
            },
            "cardIdSymbology": {
                "description": "Supported card code symbol types",
                "type": "array",
                "items": {
                    "type": "string",
                    "title": "Card code symbol type",
                    "enum": [
                        "Aztec Code",
                        "Codabar",
                        "Code 128",
                        "Code 39",
                        "Code 39 mod 43",
                        "Code 93",
                        "DataBar Expanded",
                        "DataBar-14",
                        "DataMatrix",
                        "EAN-128",
                        "EAN-13",
                        "EAN-8",
                        "GS1 DataMatrix",
                        "GS1 QR Code",
                        "GS1-128",
                        "GS1-13",
                        "ITF",
                        "ITF-14",
                        "MaxiCode",
                        "PDF417",
                        "QR",
                        "UPC-E"
                    ]
                }
            },
            "distance": {
                "type": "object",
                "properties": {
                    "number": {
                        "minimum": 0,
                        "type": "integer",
                        "format": "int32"
                    },
                    "lengthUnitOfMeasure": {
                        "type": "string",
                        "enum": [
                            "miles",
                            "km"
                        ]
                    }
                }
            },
            "eCard": {
                "description": "See [eCard](https://code.in.digital-me.nl/DEV/ecards/tree/master/apidoc#ecard)",
                "type": "object",
                "properties": {
                    "ballance": {
                        "description": "Card ballance",
                        "type": "number",
                        "format": "cents",
                        "minItems": 0,
                        "maxItems": 1
                    },
                    "cardIdCipher": {
                        "description": "Card id cipher",
                        "type": "string",
                        "minItems": 1,
                        "maxItems": 1
                    },
                    "cardIdCipherIV": {
                        "description": "Card id cipher iv",
                        "type": "string",
                        "minItems": 1,
                        "maxItems": 1
                    },
                    "cardIdCipherKey": {
                        "description": "Card id cipher key",
                        "type": "string",
                        "minItems": 1,
                        "maxItems": 1
                    },
                    "cardIdCipherPin": {
                        "description": "Card id cipher pin",
                        "type": "string",
                        "nullable": true,
                        "minItems": 1,
                        "maxItems": 1
                    },
                    "cardIdSymbology": {
                        "allOf": [
                            {
                                "minItems": 1,
                                "maxItems": 1
                            },
                            {
                                "$ref": "#/components/schemas/cardIdSymbology"
                            }
                        ]
                    },
                    "creator_id": {
                        "description": "Creator user id",
                        "type": "string",
                        "minItems": 1,
                        "maxItems": 1
                    },
                    "currency": {
                        "description": "Currency code",
                        "type": "string",
                        "format": "ISO 4217 currency code",
                        "default": "EUR",
                        "minItems": 0,
                        "maxItems": 1
                    },
                    "dateBalanceUpdated": {
                        "description": "Datetimestamp of latest balance update",
                        "type": "string",
                        "format": "iso 8601",
                        "minItems": 0,
                        "maxItems": 1
                    },
                    "dateCreated": {
                        "description": "Datetimestamp of creation",
                        "type": "string",
                        "format": "iso 8601",
                        "minItems": 1,
                        "maxItems": 1
                    },
                    "dateDeleted": {
                        "description": "Datetimestamp of deletion",
                        "type": "string",
                        "format": "iso 8601",
                        "nullable": true,
                        "minItems": 0,
                        "maxItems": 1
                    },
                    "dateIssued": {
                        "description": "Datetimestamp of card issue",
                        "type": "string",
                        "format": "iso 8601",
                        "minItems": 0,
                        "maxItems": 1
                    },
                    "dateModified": {
                        "description": "Datetimestamp of latest modification",
                        "type": "string",
                        "format": "iso 8601",
                        "nullable": true,
                        "minItems": 1,
                        "maxItems": 1
                    },
                    "description": {
                        "description": "eCard description",
                        "type": "string",
                        "nullable": true,
                        "minItems": 0,
                        "maxItems": 1
                    },
                    "eCardTemplate": {
                        "allOf": [
                            {
                                "nullable": true,
                                "minItems": 1,
                                "maxItems": 1
                            },
                            {
                                "$ref": "#/components/schemas/eCardTemplate"
                            }
                        ]
                    },
                    "name": {
                        "description": "name",
                        "type": "string",
                        "nullable": true,
                        "minItems": 1,
                        "maxItems": 1
                    },
                    "notes": {
                        "description": "notes",
                        "type": "string",
                        "nullable": true,
                        "minItems": 0,
                        "maxItems": 1
                    },
                    "sortName": {
                        "description": "Sort name",
                        "type": "string",
                        "nullable": true,
                        "minItems": 1,
                        "maxItems": 1
                    },
                    "style": {
                        "allOf": [
                            {
                                "minItems": 0,
                                "maxItems": 1
                            },
                            {
                                "$ref": "#/components/schemas/style"
                            }
                        ]
                    },
                    "transactions": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/transaction"
                        },
                        "minItems": 0,
                        "maxItems": 1
                    }
                }
            },
            "eCardUpdate": {
                "title": "eCard update request body",
                "type": "object"
            },
            "eCardsMetaData": {
                "type": "object",
                "properties": {
                    "dateStart": {
                        "description": "Datetimestamp of action start",
                        "type": "string",
                        "format": "iso 8601",
                        "minItems": 1,
                        "maxItems": 1
                    },
                    "dateEnd": {
                        "description": "Datetimestamp of action end",
                        "type": "string",
                        "format": "iso 8601",
                        "minItems": 1,
                        "maxItems": 1
                    }
                },
                "example": {
                    "dateStart": "2018-12-19T11:11:46.849+01:00",
                    "dateEnd": "2018-12-19T11:11:47.994+01:00"
                }
            },
            "eCards": {
                "type": "array",
                "items": {
                    "$ref": "#/components/schemas/eCard"
                }
            },
            "eCardTemplate": {
                "description": "eCard template",
                "properties": {
                    "brand": {
                        "allOf": [
                            {
                                "minItems": 1,
                                "maxItems": 1
                            },
                            {
                                "$ref": "#/components/schemas/brandName"
                            }
                        ]
                    },
                    "cardIdSymbology": {
                        "allOf": [
                            {
                                "minItems": 1,
                                "maxItems": 1
                            },
                            {
                                "$ref": "#/components/schemas/cardIdSymbology"
                            }
                        ]
                    },
                    "cardId": {
                        "allOf": [
                            {
                                "minItems": 0,
                                "maxItems": 1
                            },
                            {
                                "$ref": "#/components/schemas/cardId"
                            }
                        ]
                    },
                    "creator": {
                        "type": "object",
                        "description": "Creator of the eCard template",
                        "properties": {
                            "name": {
                                "type": "string",
                                "description": "Creator name",
                                "minItems": 1,
                                "maxItems": 1
                            }
                        }
                    },
                    "dateCreated": {
                        "description": "Datetimestamp of creation",
                        "type": "string",
                        "format": "iso 8601",
                        "minItems": 1,
                        "maxItems": 1
                    },
                    "dateDeleted": {
                        "description": "Datetimestamp of deletion",
                        "type": "string",
                        "format": "iso 8601",
                        "nullable": true,
                        "minItems": 0,
                        "maxItems": 1
                    },
                    "dateModified": {
                        "description": "Datetimestamp of latest modification",
                        "type": "string",
                        "format": "iso 8601",
                        "nullable": true,
                        "minItems": 1,
                        "maxItems": 1
                    },
                    "keywords": {
                        "type": "array",
                        "items": {
                            "title": "Keyword",
                            "type": "string"
                        },
                        "minItems": 1,
                        "maxItems": 1
                    },
                    "name": {
                        "type": "string",
                        "nullable": true,
                        "description": "Name to be displayed on the eCard.",
                        "minItems": 0,
                        "maxItems": 1
                    },
                    "notes": {
                        "type": "string",
                        "nullable": true,
                        "minItems": 0,
                        "maxItems": 1
                    },
                    "services": {
                        "allOf": [
                            {
                                "minItems": 1,
                                "maxItems": 1
                            },
                            {
                                "$ref": "#/components/schemas/services"
                            }
                        ]
                    },
                    "sortName": {
                        "type": "string",
                        "nullable": true,
                        "minItems": 1,
                        "maxItems": 1
                    },
                    "style": {
                        "allOf": [
                            {
                                "minItems": 1,
                                "maxItems": 1
                            },
                            {
                                "$ref": "#/components/schemas/style"
                            }
                        ]
                    },
                    "types": {
                        "type": "array",
                        "items": {
                            "description": "eCard type",
                            "type": "string",
                            "enum": [
                                "customer_membership_account",
                                "customer_rebate_account",
                                "customer_loyalty_program",
                                "customer_subscription_program",
                                "stored_value_instrument",
                                "stored_value_instrument_open",
                                "stored_value_instrument_closed"
                            ]
                        },
                        "minItems": 0,
                        "maxItems": 1
                    },
                    "url": {
                        "description": "Webshop url",
                        "type": "string",
                        "format": "url",
                        "minItems": 0,
                        "maxItems": 1
                    }
                }
            },
            "geometry": {
                "title": "Geometry",
                "description": "See https://schema.org/geo",
                "type": "object",
                "properties": {
                    "latitude": {
                        "type": "number",
                        "minItems": 1,
                        "maxItems": 1
                    },
                    "longitude": {
                        "type": "number",
                        "minItems": 1,
                        "maxItems": 1
                    }
                }
            },
            "httpResponseBody": {
                "type": "object",
                "properties": {
                    "code": {
                        "title": "Http response status code",
                        "type": "string",
                        "minItems": 1,
                        "maxItems": 1
                    },
                    "message": {
                        "title": "Response message",
                        "type": "string",
                        "minItems": 1,
                        "maxItems": 1
                    }
                }
            },
            "_ids": {
                "description": "_id list",
                "type": "array",
                "items": {
                    "$ref": "#/components/schemas/objectId"
                }
            },
            "name": {
                "description": "See https://schema.org/name",
                "type": "string"
            },
            "objectId": {
                "title": "Object id schema",
                "description": "The Object id is a MongoDB ObjectId.",
                "type": "string",
                "example": "5c1b5a3b49362d15e90af6b4",
                "externalDocs": {
                    "description": "MongoDB ObjectId description",
                    "url": "https://docs.mongodb.com/manual/reference/method/ObjectId/"
                }
            },
            "offer": {
                "description": "Offer schema",
                "type": "object"
            },
            "offers": {
                "description": "Offers schema",
                "type": "array",
                "items": {
                    "$ref": "#/components/schemas/offer"
                }
            },
            "preCheckRequestBody": {
                "type": "object"
            },
            "paging": {
                "type": "object",
                "properties": {
                    "offset": {
                        "type": "integer",
                        "format": "int32",
                        "minimum": 0,
                        "minItems": 1,
                        "maxItems": 1
                    },
                    "pageSize": {
                        "type": "integer",
                        "format": "int32",
                        "minItems": 1,
                        "maxItems": 1
                    }
                }
            },
            "place": {
                "title": "Place",
                "description": "See https://digital-me.atlassian.net/wiki/spaces/DAP/pages/360649/SDD+3+-+eCards+Places.",
                "type": "object",
                "additionalProperties": false,
                "properties": {
                    "addressComponents": {
                        "$ref": "#/components/schemas/addressComponents",
                        "minItems": 1,
                        "maxItems": 1
                    },
                    "addressFormatted": {
                        "type": "string",
                        "minItems": 1,
                        "maxItems": 1
                    },
                    "categories": {
                        "title": "Categories",
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "minItems": 1,
                        "maxItems": 1
                    },
                    "dateCreated": {
                        "title": "dateCreated",
                        "type": "string",
                        "format": "date-time"
                    },
                    "distance": {
                        "allOf": [
                            {
                                "$ref": "#/components/schemas/distance"
                            },
                            {
                                "properties": {
                                    "lengthUnitOfMeasure": {
                                        "minItems": 1,
                                        "maxItems": 1
                                    }
                                }
                            }
                        ],
                        "minItems": 1,
                        "maxItems": 1
                    },
                    "geometry": {
                        "$ref": "#/components/schemas/geometry"
                    },
                    "icon": {
                        "$ref": "#/components/schemas/sizedImages",
                        "minItems": 1,
                        "maxItems": 1
                    },
                    "name": {
                        "$ref": "#/components/schemas/name",
                        "minItems": 1,
                        "maxItems": 1
                    },
                    "phoneNumberInternational": {
                        "type": "string",
                        "minItems": 1,
                        "maxItems": 1
                    },
                    "priority": {
                        "type": "number",
                        "minItems": 1,
                        "maxItems": 1
                    },
                    "status": {
                        "type": "string",
                        "minItems": 1,
                        "maxItems": 1
                    },
                    "templatesEligibility": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "minItems": 1,
                        "maxItems": 1
                    },
                    "types": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "minItems": 1,
                        "maxItems": 1
                    },
                    "utc_offset": {
                        "type": "number",
                        "minItems": 1,
                        "maxItems": 1
                    },
                    "website": {
                        "type": "string",
                        "format": "url",
                        "minItems": 1,
                        "maxItems": 1
                    }
                }
            },
            "places": {
                "description": "Places schema",
                "type": "array",
                "items": {
                    "$ref": "#/components/schemas/place"
                }
            },
            "placesFilterV1": {
                "description": "Get places request body",
                "type": "object",
                "properties": {
                    "geometry": {
                        "$ref": "#/components/schemas/geometry",
                        "minItems": 1,
                        "maxItems": 1
                    },
                    "paging": {
                        "$ref": "#/components/schemas/paging"
                    },
                    "maxDistance": {
                        "$ref": "#/components/schemas/distance",
                        "minItems": 1,
                        "maxItems": 1
                    },
                    "templateEligibility": {
                        "$ref": "#/components/schemas/objectId"
                    }
                }
            },
            "projection": {
                "title": "Projection schema",
                "description": "Projection schema",
                "type": "string"
            },
            "service": {
                "title": "Service schema",
                "description": "Service schema",
                "externalDocs": {
                    "description": "SDD #5 - eCard service descriptor",
                    "url": "https://digital-me.atlassian.net/wiki/spaces/DAP/pages/1605639/SDD+%235+eCard+service+descriptor"
                },
                "type": "object"
            },
            "services": {
                "title": "Services schema",
                "description": "Services schema",
                "type": "array",
                "items": {
                    "$ref": "#/components/schemas/service"
                }
            },
            "sizedImages": {
                "title": "Sized images",
                "type": "array",
                "items": {
                    "type": "object",
                    "properties": {
                        "size": {
                            "title": "Size",
                            "type": "string",
                            "enum": [
                                "small",
                                "medium",
                                "large"
                            ],
                            "minItems": 1,
                            "maxItems": 1
                        },
                        "url": {
                            "title": "Sized image url",
                            "type": "string",
                            "format": "url",
                            "minItems": 1,
                            "maxItems": 1
                        }
                    }
                }
            },
            "style": {
                "title": "Style schema",
                "description": "The style defines the eCard layout.",
                "externalDocs": {
                    "description": "SDD #2 - eCard face and back images",
                    "url": "https://digital-me.atlassian.net/wiki/spaces/DAP/pages/393400/SDD+2+-+eCard+face+and+back+images"
                },
                "type": "object"
            },
            "transaction": {
                "type": "object"
            },
            "unreservedCharacters": {
                "description": "Unreserved characters, see [RFC3986 section 2.3](https://tools.ietf.org/html/rfc3986#section-2.3)",
                "type": "string"
            },
            "userId": {
                "description": "See [User Id](https://code.in.digital-me.nl/DEV/ecards/tree/master/apidoc#user-identification)",
                "$ref": "#/components/schemas/unreservedCharacters"
            },
            "webshop": {
                "description": "Webshop schema",
                "type": "object"
            },
            "webshops": {
                "description": "Webshops schema",
                "type": "array",
                "items": {
                    "$ref": "#/components/schemas/webshop"
                }
            }
        },
        "responses": {
            "actionPosted": {
                "description": "Action posted"
            },
            "api": {
                "description": "Api response",
                "content": {
                    "application/json": {
                        "schema": {
                            "$ref": "#/components/schemas/apiInfo"
                        },
                        "examples": {
                            "apiGetAppAuthenticated": {
                                "$ref": "#/components/examples/apiInfo"
                            }
                        }
                    }
                }
            },
            "apiSchema": {
                "description": "Api schema response",
                "content": {
                    "application/json": {
                        "examples": {
                            "json-schema draf-4 example": {
                                "description": "See [.examples/schema.json](./examples/schema.json)"
                            }
                        }
                    }
                }
            },
            "balanceAndTransactions": {
                "description": "BalanceAndTransactions Get response 200",
                "content": {
                    "application/json": {
                        "schema": {
                            "$ref": "#/components/schemas/balanceAndTransactions"
                        }
                    }
                }
            },
            "default": {
                "description": "Default response",
                "content": {
                    "application/json": {
                        "schema": {
                            "type": "object",
                            "properties": {
                                "errors": {
                                    "type": "array",
                                    "items": {
                                        "type": "object",
                                        "properties": {
                                            "status": {
                                                "type": "number",
                                                "enum": [
                                                    401
                                                ]
                                            },
                                            "message": {
                                                "type": "string",
                                                "pattern": "Authentication required!"
                                            }
                                        }
                                    }
                                }
                            }
                        },
                        "examples": {
                            "example": {
                                "$ref": "#/components/examples/authenticationRequired"
                            }
                        }
                    }
                }
            },
            "eCards": {
                "description": "eCards response",
                "content": {
                    "application/json": {
                        "schema": {
                            "$ref": "#/components/schemas/eCards"
                        },
                        "examples": {
                            "example": {
                                "$ref": "#/components/examples/eCards"
                            }
                        }
                    }
                }
            },
            "httpResponseBody": {
                "description": "HTTP 202: The request has been accepted but not processed, see body for more information.",
                "content": {
                    "application/json": {
                        "schema": {
                            "$ref": "#/components/schemas/httpResponseBody"
                        }
                    }
                }
            },
            "offers": {
                "description": "Offers response",
                "content": {
                    "application/json": {
                        "schema": {
                            "$ref": "#/components/schemas/offers"
                        },
                        "examples": {
                            "example": {
                                "$ref": "#/components/examples/offers"
                            }
                        }
                    }
                }
            },
            "openapiDotJson": {
                "description": "Get openapi.json response",
                "content": {
                    "application/json": {
                        "examples": {
                            "example": {
                                "description": "See [.examples/openapi.json](./examples/openapi.json)"
                            }
                        }
                    }
                }
            },
            "openapiDotYaml": {
                "description": "Get openapi.yaml response",
                "content": {
                    "application/yaml": {
                        "examples": {
                            "example": {
                                "description": "See [.examples/openapi.yaml](./examples/openapi.yaml)"
                            }
                        }
                    }
                }
            },
            "places": {
                "description": "Places response",
                "content": {
                    "application/json": {
                        "schema": {
                            "$ref": "#/components/schemas/places"
                        },
                        "examples": {
                            "example": {
                                "$ref": "#/components/examples/places"
                            }
                        }
                    }
                }
            },
            "preCheck": {
                "description": "Pre check response"
            },
            "userDeleted": {
                "description": "User deleted"
            },
            "webshops": {
                "description": "Webshops response",
                "content": {
                    "application/json": {
                        "schema": {
                            "$ref": "#/components/schemas/webshops"
                        },
                        "examples": {
                            "example": {
                                "$ref": "#/components/examples/webshops"
                            }
                        }
                    }
                }
            }
        },
        "parameters": {
            "eCardsMetaData": {
                "name": "ECards-MetaData",
                "in": "header",
                "schema": {
                    "$ref": "#/components/schemas/eCardsMetaData"
                }
            },
            "_id": {
                "name": "_id",
                "in": "query",
                "description": "_id list",
                "required": false,
                "schema": {
                    "$ref": "#/components/schemas/_ids"
                },
                "explode": true
            },
            "oid": {
                "name": "oid",
                "in": "path",
                "required": true,
                "schema": {
                    "$ref": "#/components/schemas/objectId"
                }
            },
            "projection": {
                "name": "projection",
                "in": "query",
                "description": "Projection parameter to reduce returned data.",
                "schema": {
                    "$ref": "#/components/schemas/projection"
                }
            },
            "templateId": {
                "name": "templateId",
                "description": "eCard template object id",
                "in": "path",
                "required": true,
                "schema": {
                    "$ref": "#/components/schemas/objectId"
                }
            },
            "userAgent": {
                "name": "User-Agent",
                "in": "header",
                "schema": {
                    "type": "string"
                }
            },
            "userId": {
                "name": "userId",
                "in": "path",
                "required": true,
                "schema": {
                    "$ref": "#/components/schemas/userId"
                }
            }
        },
        "examples": {
            "action": {
                "value": {
                    "dateStart": "2018-12-18T10:17:01.760+01:00",
                    "dateEnd": "2018-12-18T10:17:08.388+01:00",
                    "eCard": {
                        "_id": "5c1b5a3b49362d15e90af6b4",
                        "cardIdCipher": "jkE5EY2j+8lBHnylSz1K5uHqEAW2jCanQ1g6zw0ULZ8=",
                        "cardIdCipherIV": "PHf2jXsvP+1cvY/wKTdJ6UvKXwTySia6u/YSXb6QRaMc26OfbemNd3EByM4DS7osz62Cb+qVuZrsCKtdKSUoFvMvdbHmBKxVuVCDMpCA1pEyCjVLqb3zm+tWTele+ICMtVe01Oknf5N4m9/KyVJfDy3Uzii3ziCqbrIskKonPPFj1O8cZt4OWcULmawJMKfifCCuQlqzfoTWuB/+k6kWN2d9dTGSNJj+ti3/KjmZj4QHuR8mW7JmdEJYlNmzhlI+1ulvHczbfGT9/3RGxBqH+yudb+EtS7xjozxtlaLPMfnh8a0YN3ElaHVopuNgCdBMC72IGNbTJylKdPgEP1wFQA==",
                        "cardIdCipherKey": "ed3sIe7b0LcTqqG+sV1r71rVmhY5bdvH0silSaAeBgfj1gDOhw9LPN4KkX+QM1kRXtvkW84/w++xHl6ofB9E1zUG3C7iEe9PiGdBm4XwHGJBB/X5hKhZqqWEa+lQMTEX9GKtVvgZofPazTx+Cy3A1BHS1aUNQGWoY5vwML6wIcMwxEp65iRQLQ6PkHkNqPenassMaci+s3VjOj3NjKIuqpMdGUMt5YKRHIIOhmL5qnfHlkIy5RYUzDrBtSRJtYpZi3L3YJGvqTnLcLPkEiWht7zCJWJ42pvTXqobzbZEJ320hm8mlG0eQHzi2arVFhJNDHHFiIzg7i9ef4WFx623wg==",
                        "cardIdSymbology": null,
                        "dateCreated": "2018-11-19T13:38:00.001+00:00",
                        "dateDeleted": null,
                        "dateModified": "2018-11-19T13:38:00.001+00:00",
                        "description": null,
                        "eCardTemplate": {
                            "brand": {
                                "name": "Praxis"
                            },
                            "cardIdSymbology": null,
                            "creator": {
                                "name": "Digital Me"
                            },
                            "dateCreated": "2018-11-13T11:38:00.001+00:00",
                            "dateDeleted": null,
                            "dateModified": "2018-12-03T23:08:54.215+00:00",
                            "_id": "5beaf11ef34f391adf32fd65",
                            "name": "Praxis",
                            "sortName": "Praxis",
                            "style": {
                                "backgroundColor": "#FFDD00",
                                "backgroundImage": [
                                    {
                                        "size": "small",
                                        "url": "https://dappre.dolden.net/klanten/ecards/img-logos/praxis_sm.png"
                                    },
                                    {
                                        "size": "medium",
                                        "url": "https://dappre.dolden.net/klanten/ecards/img-logos/praxis_md.png"
                                    },
                                    {
                                        "size": "large",
                                        "url": "https://dappre.dolden.net/klanten/ecards/img-logos/praxis_lg.png"
                                    }
                                ]
                            }
                        },
                        "name": "Praxis",
                        "notes": null,
                        "sortName": "Praxis",
                        "style": {
                            "backgroundColor": "#FFDD00",
                            "backgroundImage": [
                                {
                                    "size": "small",
                                    "url": "https://dappre.dolden.net/klanten/ecards/img-logos/praxis_sm.png"
                                },
                                {
                                    "size": "medium",
                                    "url": "https://dappre.dolden.net/klanten/ecards/img-logos/praxis_md.png"
                                },
                                {
                                    "size": "large",
                                    "url": "https://dappre.dolden.net/klanten/ecards/img-logos/praxis_lg.png"
                                }
                            ]
                        },
                        "creator_id": "eCardsApiDocDev2User"
                    },
                    "type": "InteractAction"
                }
            },
            "actionList": {
                "value": [
                    {
                        "dateStart": "2018-12-18T10:17:01.760+01:00",
                        "dateEnd": "2018-12-18T10:17:08.388+01:00",
                        "eCard": {
                            "_id": "5c1b5a3b49362d15e90af6b4",
                            "cardIdCipher": "jkE5EY2j+8lBHnylSz1K5uHqEAW2jCanQ1g6zw0ULZ8=",
                            "cardIdCipherIV": "PHf2jXsvP+1cvY/wKTdJ6UvKXwTySia6u/YSXb6QRaMc26OfbemNd3EByM4DS7osz62Cb+qVuZrsCKtdKSUoFvMvdbHmBKxVuVCDMpCA1pEyCjVLqb3zm+tWTele+ICMtVe01Oknf5N4m9/KyVJfDy3Uzii3ziCqbrIskKonPPFj1O8cZt4OWcULmawJMKfifCCuQlqzfoTWuB/+k6kWN2d9dTGSNJj+ti3/KjmZj4QHuR8mW7JmdEJYlNmzhlI+1ulvHczbfGT9/3RGxBqH+yudb+EtS7xjozxtlaLPMfnh8a0YN3ElaHVopuNgCdBMC72IGNbTJylKdPgEP1wFQA==",
                            "cardIdCipherKey": "ed3sIe7b0LcTqqG+sV1r71rVmhY5bdvH0silSaAeBgfj1gDOhw9LPN4KkX+QM1kRXtvkW84/w++xHl6ofB9E1zUG3C7iEe9PiGdBm4XwHGJBB/X5hKhZqqWEa+lQMTEX9GKtVvgZofPazTx+Cy3A1BHS1aUNQGWoY5vwML6wIcMwxEp65iRQLQ6PkHkNqPenassMaci+s3VjOj3NjKIuqpMdGUMt5YKRHIIOhmL5qnfHlkIy5RYUzDrBtSRJtYpZi3L3YJGvqTnLcLPkEiWht7zCJWJ42pvTXqobzbZEJ320hm8mlG0eQHzi2arVFhJNDHHFiIzg7i9ef4WFx623wg==",
                            "cardIdSymbology": null,
                            "dateCreated": "2018-11-19T13:38:00.001+00:00",
                            "dateDeleted": null,
                            "dateModified": "2018-11-19T13:38:00.001+00:00",
                            "description": null,
                            "eCardTemplate": {
                                "brand": {
                                    "name": "Praxis"
                                },
                                "cardIdSymbology": null,
                                "creator": {
                                    "name": "Digital Me"
                                },
                                "dateCreated": "2018-11-13T11:38:00.001+00:00",
                                "dateDeleted": null,
                                "dateModified": "2018-12-03T23:08:54.215+00:00",
                                "_id": "5beaf11ef34f391adf32fd65",
                                "name": "Praxis",
                                "sortName": "Praxis",
                                "style": {
                                    "backgroundColor": "#FFDD00",
                                    "backgroundImage": [
                                        {
                                            "size": "small",
                                            "url": "https://dappre.dolden.net/klanten/ecards/img-logos/praxis_sm.png"
                                        },
                                        {
                                            "size": "medium",
                                            "url": "https://dappre.dolden.net/klanten/ecards/img-logos/praxis_md.png"
                                        },
                                        {
                                            "size": "large",
                                            "url": "https://dappre.dolden.net/klanten/ecards/img-logos/praxis_lg.png"
                                        }
                                    ]
                                }
                            },
                            "name": "Praxis",
                            "notes": null,
                            "sortName": "Praxis",
                            "style": {
                                "backgroundColor": "#FFDD00",
                                "backgroundImage": [
                                    {
                                        "size": "small",
                                        "url": "https://dappre.dolden.net/klanten/ecards/img-logos/praxis_sm.png"
                                    },
                                    {
                                        "size": "medium",
                                        "url": "https://dappre.dolden.net/klanten/ecards/img-logos/praxis_md.png"
                                    },
                                    {
                                        "size": "large",
                                        "url": "https://dappre.dolden.net/klanten/ecards/img-logos/praxis_lg.png"
                                    }
                                ]
                            },
                            "creator_id": "eCardsApiDocDev2User"
                        },
                        "type": "InteractAction"
                    },
                    {
                        "dateStart": "2018-12-18T10:17:08.988+01:00",
                        "dateEnd": "2018-12-18T10:17:10.746+01:00",
                        "eCard": {
                            "_id": "5c1b5a8649362d15e90af6b6",
                            "cardIdCipher": "jkE5EY2j+8lBHnylSz1K5uHqEAW2jCanQ1g6zw0ULZ8=",
                            "cardIdCipherIV": "PHf2jXsvP+1cvY/wKTdJ6UvKXwTySia6u/YSXb6QRaMc26OfbemNd3EByM4DS7osz62Cb+qVuZrsCKtdKSUoFvMvdbHmBKxVuVCDMpCA1pEyCjVLqb3zm+tWTele+ICMtVe01Oknf5N4m9/KyVJfDy3Uzii3ziCqbrIskKonPPFj1O8cZt4OWcULmawJMKfifCCuQlqzfoTWuB/+k6kWN2d9dTGSNJj+ti3/KjmZj4QHuR8mW7JmdEJYlNmzhlI+1ulvHczbfGT9/3RGxBqH+yudb+EtS7xjozxtlaLPMfnh8a0YN3ElaHVopuNgCdBMC72IGNbTJylKdPgEP1wFQA==",
                            "cardIdCipherKey": "ed3sIe7b0LcTqqG+sV1r71rVmhY5bdvH0silSaAeBgfj1gDOhw9LPN4KkX+QM1kRXtvkW84/w++xHl6ofB9E1zUG3C7iEe9PiGdBm4XwHGJBB/X5hKhZqqWEa+lQMTEX9GKtVvgZofPazTx+Cy3A1BHS1aUNQGWoY5vwML6wIcMwxEp65iRQLQ6PkHkNqPenassMaci+s3VjOj3NjKIuqpMdGUMt5YKRHIIOhmL5qnfHlkIy5RYUzDrBtSRJtYpZi3L3YJGvqTnLcLPkEiWht7zCJWJ42pvTXqobzbZEJ320hm8mlG0eQHzi2arVFhJNDHHFiIzg7i9ef4WFx623wg==",
                            "cardIdSymbology": null,
                            "creator_id": "eCardsApiDocDev2User",
                            "dateCreated": "2018-11-19T13:38:00.001+00:00",
                            "dateDeleted": null,
                            "dateModified": "2018-11-19T13:38:00.001+00:00",
                            "description": null,
                            "eCardTemplate": {
                                "brand": {
                                    "name": "Praxis"
                                },
                                "cardIdSymbology": null,
                                "creator": {
                                    "name": "Digital Me"
                                },
                                "dateCreated": "2018-11-13T11:38:00.001+00:00",
                                "dateDeleted": null,
                                "dateModified": "2018-12-03T23:08:54.215+00:00",
                                "_id": "5beaf11ef34f391adf32fd65",
                                "name": "Praxis",
                                "sortName": "Praxis",
                                "style": {
                                    "backgroundColor": "#FFDD00",
                                    "backgroundImage": [
                                        {
                                            "size": "small",
                                            "url": "https://dappre.dolden.net/klanten/ecards/img-logos/praxis_sm.png"
                                        },
                                        {
                                            "size": "medium",
                                            "url": "https://dappre.dolden.net/klanten/ecards/img-logos/praxis_md.png"
                                        },
                                        {
                                            "size": "large",
                                            "url": "https://dappre.dolden.net/klanten/ecards/img-logos/praxis_lg.png"
                                        }
                                    ]
                                }
                            },
                            "name": "Praxis",
                            "notes": null,
                            "sortName": "Praxis",
                            "style": {
                                "backgroundColor": "#FFDD00",
                                "backgroundImage": [
                                    {
                                        "size": "small",
                                        "url": "https://dappre.dolden.net/klanten/ecards/img-logos/praxis_sm.png"
                                    },
                                    {
                                        "size": "medium",
                                        "url": "https://dappre.dolden.net/klanten/ecards/img-logos/praxis_md.png"
                                    },
                                    {
                                        "size": "large",
                                        "url": "https://dappre.dolden.net/klanten/ecards/img-logos/praxis_lg.png"
                                    }
                                ]
                            }
                        },
                        "type": "InteractAction"
                    }
                ]
            },
            "apiInfo": {
                "value": {
                    "currentVersion": "1.3.1-SNAPSHOT",
                    "links": {
                        "actions": "https://dev2-card.testonly.digital-me.nl/ecards/v1/users/rudy/actions",
                        "dataExchange": "https://dev2-card.testonly.digital-me.nl/ecards/v1/users/rudy/dataExchange",
                        "eCards": "https://dev2-card.testonly.digital-me.nl/ecards/v1/users/rudy/eCards",
                        "offers": "https://dev2-card.testonly.digital-me.nl/ecards/v1/users/rudy/services/offers",
                        "schema": "https://dev2-card.testonly.digital-me.nl/ecards/v1/users/rudy/api/schema",
                        "templates": "https://dev2-card.testonly.digital-me.nl/ecards/v1/users/rudy/eCardTemplates",
                        "templateSelections": "https://dev2-card.testonly.digital-me.nl/ecards/v1/users/rudy/eCardTemplatesSelections",
                        "user": "https://dev2-card.testonly.digital-me.nl/ecards/v1/users/rudy"
                    },
                    "linkTemplates": {
                        "services": "https://dev2-card.testonly.digital-me.nl/ecards/v1/users/rudy/eCardTemplates/{templateId}/services/{service}"
                    },
                    "serverTime": 1572531524892
                }
            },
            "authenticationRequired": {
                "value": {
                    "errors": [
                        {
                            "status": 401,
                            "message": "Authentication required!"
                        }
                    ]
                }
            },
            "backgroundImage": {
                "value": [
                    {
                        "size": "small",
                        "url": "https://dappre.dolden.net/klanten/ecards/img-logos/praxis_sm.png"
                    },
                    {
                        "size": "medium",
                        "url": "https://dappre.dolden.net/klanten/ecards/img-logos/praxis_md.png"
                    },
                    {
                        "size": "large",
                        "url": "https://dappre.dolden.net/klanten/ecards/img-logos/praxis_lg.png"
                    }
                ]
            },
            "eCard": {
                "value": {
                    "cardIdCipher": "jkE5EY2j+8lBHnylSz1K5uHqEAW2jCanQ1g6zw0ULZ8=",
                    "cardIdCipherIV": "PHf2jXsvP+1cvY/wKTdJ6UvKXwTySia6u/YSXb6QRaMc26OfbemNd3EByM4DS7osz62Cb+qVuZrsCKtdKSUoFvMvdbHmBKxVuVCDMpCA1pEyCjVLqb3zm+tWTele+ICMtVe01Oknf5N4m9/KyVJfDy3Uzii3ziCqbrIskKonPPFj1O8cZt4OWcULmawJMKfifCCuQlqzfoTWuB/+k6kWN2d9dTGSNJj+ti3/KjmZj4QHuR8mW7JmdEJYlNmzhlI+1ulvHczbfGT9/3RGxBqH+yudb+EtS7xjozxtlaLPMfnh8a0YN3ElaHVopuNgCdBMC72IGNbTJylKdPgEP1wFQA==",
                    "cardIdCipherKey": "ed3sIe7b0LcTqqG+sV1r71rVmhY5bdvH0silSaAeBgfj1gDOhw9LPN4KkX+QM1kRXtvkW84/w++xHl6ofB9E1zUG3C7iEe9PiGdBm4XwHGJBB/X5hKhZqqWEa+lQMTEX9GKtVvgZofPazTx+Cy3A1BHS1aUNQGWoY5vwML6wIcMwxEp65iRQLQ6PkHkNqPenassMaci+s3VjOj3NjKIuqpMdGUMt5YKRHIIOhmL5qnfHlkIy5RYUzDrBtSRJtYpZi3L3YJGvqTnLcLPkEiWht7zCJWJ42pvTXqobzbZEJ320hm8mlG0eQHzi2arVFhJNDHHFiIzg7i9ef4WFx623wg==",
                    "cardIdSymbology": null,
                    "dateCreated": "2018-11-19T13:38:00.001+00:00",
                    "dateDeleted": null,
                    "dateModified": "2018-11-19T13:38:00.001+00:00",
                    "description": null,
                    "eCardTemplate": {
                        "brand": {
                            "name": "Praxis"
                        },
                        "cardIdSymbology": null,
                        "creator": {
                            "name": "Digital Me"
                        },
                        "dateCreated": "2018-11-13T11:38:00.001+00:00",
                        "dateDeleted": null,
                        "dateModified": "2018-12-03T23:08:54.215+00:00",
                        "name": "Praxis",
                        "sortName": "Praxis",
                        "style": {
                            "backgroundColor": "#FFDD00",
                            "backgroundImage": [
                                {
                                    "size": "small",
                                    "url": "https://dappre.dolden.net/klanten/ecards/img-logos/praxis_sm.png"
                                },
                                {
                                    "size": "medium",
                                    "url": "https://dappre.dolden.net/klanten/ecards/img-logos/praxis_md.png"
                                },
                                {
                                    "size": "large",
                                    "url": "https://dappre.dolden.net/klanten/ecards/img-logos/praxis_lg.png"
                                }
                            ]
                        }
                    },
                    "name": "Praxis",
                    "notes": null,
                    "sortName": "Praxis",
                    "style": {
                        "backgroundColor": "#FFDD00",
                        "backgroundImage": [
                            {
                                "size": "small",
                                "url": "https://dappre.dolden.net/klanten/ecards/img-logos/praxis_sm.png"
                            },
                            {
                                "size": "medium",
                                "url": "https://dappre.dolden.net/klanten/ecards/img-logos/praxis_md.png"
                            },
                            {
                                "size": "large",
                                "url": "https://dappre.dolden.net/klanten/ecards/img-logos/praxis_lg.png"
                            }
                        ]
                    },
                    "creator_id": "eCardsApiDocDev2User"
                }
            },
            "eCards": {
                "value": [
                    {
                        "cardIdCipher": "jkE5EY2j+8lBHnylSz1K5uHqEAW2jCanQ1g6zw0ULZ8=",
                        "cardIdCipherIV": "PHf2jXsvP+1cvY/wKTdJ6UvKXwTySia6u/YSXb6QRaMc26OfbemNd3EByM4DS7osz62Cb+qVuZrsCKtdKSUoFvMvdbHmBKxVuVCDMpCA1pEyCjVLqb3zm+tWTele+ICMtVe01Oknf5N4m9/KyVJfDy3Uzii3ziCqbrIskKonPPFj1O8cZt4OWcULmawJMKfifCCuQlqzfoTWuB/+k6kWN2d9dTGSNJj+ti3/KjmZj4QHuR8mW7JmdEJYlNmzhlI+1ulvHczbfGT9/3RGxBqH+yudb+EtS7xjozxtlaLPMfnh8a0YN3ElaHVopuNgCdBMC72IGNbTJylKdPgEP1wFQA==",
                        "cardIdCipherKey": "ed3sIe7b0LcTqqG+sV1r71rVmhY5bdvH0silSaAeBgfj1gDOhw9LPN4KkX+QM1kRXtvkW84/w++xHl6ofB9E1zUG3C7iEe9PiGdBm4XwHGJBB/X5hKhZqqWEa+lQMTEX9GKtVvgZofPazTx+Cy3A1BHS1aUNQGWoY5vwML6wIcMwxEp65iRQLQ6PkHkNqPenassMaci+s3VjOj3NjKIuqpMdGUMt5YKRHIIOhmL5qnfHlkIy5RYUzDrBtSRJtYpZi3L3YJGvqTnLcLPkEiWht7zCJWJ42pvTXqobzbZEJ320hm8mlG0eQHzi2arVFhJNDHHFiIzg7i9ef4WFx623wg==",
                        "cardIdSymbology": null,
                        "dateCreated": "2018-11-19T13:38:00.001+00:00",
                        "dateDeleted": null,
                        "dateModified": "2018-11-19T13:38:00.001+00:00",
                        "description": null,
                        "eCardTemplate": {
                            "brand": {
                                "name": "Praxis"
                            },
                            "cardIdSymbology": null,
                            "creator": {
                                "name": "Digital Me"
                            },
                            "dateCreated": "2018-11-13T11:38:00.001+00:00",
                            "dateDeleted": null,
                            "dateModified": "2018-12-03T23:08:54.215+00:00",
                            "name": "Praxis",
                            "sortName": "Praxis",
                            "style": {
                                "backgroundColor": "#FFDD00",
                                "backgroundImage": [
                                    {
                                        "size": "small",
                                        "url": "https://dappre.dolden.net/klanten/ecards/img-logos/praxis_sm.png"
                                    },
                                    {
                                        "size": "medium",
                                        "url": "https://dappre.dolden.net/klanten/ecards/img-logos/praxis_md.png"
                                    },
                                    {
                                        "size": "large",
                                        "url": "https://dappre.dolden.net/klanten/ecards/img-logos/praxis_lg.png"
                                    }
                                ]
                            }
                        },
                        "name": "Praxis",
                        "notes": null,
                        "sortName": "Praxis",
                        "style": {
                            "backgroundColor": "#FFDD00",
                            "backgroundImage": [
                                {
                                    "size": "small",
                                    "url": "https://dappre.dolden.net/klanten/ecards/img-logos/praxis_sm.png"
                                },
                                {
                                    "size": "medium",
                                    "url": "https://dappre.dolden.net/klanten/ecards/img-logos/praxis_md.png"
                                },
                                {
                                    "size": "large",
                                    "url": "https://dappre.dolden.net/klanten/ecards/img-logos/praxis_lg.png"
                                }
                            ]
                        },
                        "creator_id": "eCardsApiDocDev2User"
                    }
                ]
            },
            "eCardTemplate": {
                "value": {
                    "brand": {
                        "name": "Praxis"
                    },
                    "cardIdSymbology": null,
                    "creator": {
                        "name": "Digital Me"
                    },
                    "dateCreated": "2018-11-13T11:38:00.001+00:00",
                    "dateDeleted": null,
                    "dateModified": "2018-12-03T23:08:54.215+00:00",
                    "_id": "5beaf11ef34f391adf32fd65",
                    "name": "Praxis",
                    "sortName": "Praxis",
                    "style": {
                        "backgroundColor": "#FFDD00",
                        "backgroundImage": [
                            {
                                "size": "small",
                                "url": "https://dappre.dolden.net/klanten/ecards/img-logos/praxis_sm.png"
                            },
                            {
                                "size": "medium",
                                "url": "https://dappre.dolden.net/klanten/ecards/img-logos/praxis_md.png"
                            },
                            {
                                "size": "large",
                                "url": "https://dappre.dolden.net/klanten/ecards/img-logos/praxis_lg.png"
                            }
                        ]
                    }
                }
            },
            "offer": {
                "description": "Offer example",
                "value": {
                    "name": "offer1 tbd"
                }
            },
            "offers": {
                "description": "Offers example",
                "value": [
                    {
                        "name": "offer1 tbd"
                    },
                    {
                        "name": "offer1 tbd"
                    }
                ]
            },
            "place": {
                "description": "Place example",
                "value": {
                    "name": "place1 tbd"
                }
            },
            "places": {
                "description": "Places example",
                "value": [
                    {
                        "name": "place1 tbd"
                    },
                    {
                        "name": "place2 tbd"
                    }
                ]
            },
            "style": {
                "value": {
                    "backgroundColor": "#FFDD00",
                    "backgroundImage": [
                        {
                            "size": "small",
                            "url": "https://dappre.dolden.net/klanten/ecards/img-logos/praxis_sm.png"
                        },
                        {
                            "size": "medium",
                            "url": "https://dappre.dolden.net/klanten/ecards/img-logos/praxis_md.png"
                        },
                        {
                            "size": "large",
                            "url": "https://dappre.dolden.net/klanten/ecards/img-logos/praxis_lg.png"
                        }
                    ]
                }
            },
            "webshop": {
                "description": "Webshop example",
                "value": {
                    "name": "webshop1 tbd"
                }
            },
            "webshops": {
                "description": "Webshops example",
                "value": [
                    {
                        "name": "Webshop1 tbd"
                    },
                    {
                        "name": "Webshop2 tbd"
                    }
                ]
            }
        },
        "securitySchemes": {
            "appAuthentication": {
                "description": "See [App Authentication](https://code.in.digital-me.nl/DEV/ecards/tree/master/apidoc#authentication)",
                "type": "http",
                "scheme": "Basic"
            }
        }
    },
    "security": [
        {
            "appAuthentication": []
        }
    ]
}
