{
    "openapi": "3.0.0",
    "info": {
        "title": "eCards API",
        "description": "Find more info here: [eCards Service](https://github.com/fdriesenaar/eCards)",
        "externalDocs": {
            "description": "Find more info here",
            "url": "https://github.com/fdriesenaar/eCards"
        },
        "version": "1.0.0",
        "license": {
            "name": "Copyright DigitalMe B.V. 2019 - all rights reserved",
            "url": "https://digital-me.nl"
        }
    },
    "servers": [
        {
            "url": "https://dev2-card.testonly.digital-me.nl/ecards/v1",
            "description": "Development 2 server"
        },
        {
            "url": "https://card.dolden.net/ecards/v1",
            "description": "Acceptance server"
        },
        {
            "url": "https://card.digital-me.nl/ecards/v1",
            "description": "Production server"
        }
    ],
    "paths": {
        "/users/{userId}/api": {
            "get": {
                "tags": [
                    "api"
                ],
                "description": "See [GET Api](https://github.com/fdriesenaar/eCards#api-info).",
                "operationId": "api",
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/api"
                    },
                    "default": {
                        "$ref": "#/components/responses/default"
                    }
                }
            },
            "parameters": [
                {
                    "$ref": "#/components/parameters/userId"
                }
            ]
        },
        "/users/{userId}": {
            "delete": {
                "tags": [
                    "users"
                ],
                "description": "See [Delete user](https://github.com/fdriesenaar/eCards#delete-user).",
                "operationId": "Delete user",
                "responses": {
                    "204": {
                        "$ref": "#/components/responses/userDeleted"
                    },
                    "default": {
                        "$ref": "#/components/responses/default"
                    }
                }
            },
            "parameters": [
                {
                    "$ref": "#/components/parameters/userId"
                }
            ]
        },
        "/users/{userId}/actions": {
            "post": {
                "tags": [
                    "actions"
                ],
                "description": "See [Post action](https://github.com/fdriesenaar/eCards#post-action).",
                "operationId": "Post action",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/actionList"
                            },
                            "examples": {
                                "example": {
                                    "$ref": "#/components/examples/actionList"
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "$ref": "#/components/responses/actionPosted"
                    },
                    "default": {
                        "$ref": "#/components/responses/default"
                    }
                }
            },
            "parameters": [
                {
                    "$ref": "#/components/parameters/userId"
                }
            ]
        }
    },
    "components": {
        "schemas": {
            "action": {
                "description": "See [Action](https://github.com/fdriesenaar/eCards#action)",
                "type": "object",
                "properties": {
                    "creator_id": {
                        "description": "Creator [user id](https://github.com/fdriesenaar/eCards#user-id)",
                        "type": "string",
                        "minItems": 1,
                        "maxItems": 1
                    },
                    "dateStart": {
                        "description": "Datetimestamp of action start",
                        "type": "string",
                        "format": "iso 8601",
                        "minItems": 1,
                        "maxItems": 1
                    },
                    "dateEnd": {
                        "description": "Datetimestamp of action end",
                        "type": "string",
                        "format": "iso 8601",
                        "minItems": 1,
                        "maxItems": 1
                    },
                    "eCard": {
                        "$ref": "#/components/schemas/eCard",
                        "minItems": 0,
                        "maxItems": 1
                    },
                    "location": {
                        "$ref": "#/components/schemas/geometry",
                        "minItems": 0,
                        "maxItems": 1
                    },
                    "offer": {
                        "$ref": "#/components/schemas/offer",
                        "minItems": 0,
                        "maxItems": 1
                    },
                    "type": {
                        "description": "Action type",
                        "type": "string",
                        "enum": [
                            "CreateAction",
                            "InteractAction",
                            "DeleteAction",
                            "ViewOfferAction",
                            "UpdateAction"
                        ],
                        "minItems": 1,
                        "maxItems": 1
                    },
                    "userAgent": {
                        "description": "Information about the eCards client extracted from the user-agent http request header",
                        "type": "string",
                        "minItems": 1,
                        "maxItems": 1
                    }
                }
            },
            "actionList": {
                "description": "[Action](https://github.com/fdriesenaar/eCards#action) list",
                "type": "array",
                "items": {
                    "$ref": "#/components/schemas/action"
                }
            },
            "appAuthentication": {
                "description": "See [App Authentication](https://github.com/fdriesenaar/eCards#app-authentication)",
                "type": "http",
                "scheme": "Basic"
            },
            "apiInfo": {
                "type": "object",
                "properties": {
                    "serverTime": {
                        "description": "Server time in unix time in mili seconds.",
                        "type": "number"
                    },
                    "currentVersion": {
                        "type": "string"
                    }
                }
            },
            "cardIdSymbology": {
                "description": "Supported card code symbol types",
                "type": "array",
                "items": {
                    "type": "string",
                    "title": "Card code symbol type",
                    "enum": [
                        "Aztec Code",
                        "Codabar",
                        "Code 128",
                        "Code 39",
                        "Code 39 mod 43",
                        "Code 93",
                        "DataBar Expanded",
                        "DataBar-14",
                        "DataMatrix",
                        "EAN-128",
                        "EAN-13",
                        "EAN-8",
                        "GS1 DataMatrix",
                        "GS1 QR Code",
                        "GS1-128",
                        "GS1-13",
                        "ITF",
                        "ITF-14",
                        "MaxiCode",
                        "PDF417",
                        "QR",
                        "UPC-E"
                    ]
                }
            },
            "eCard": {
                "description": "See [eCard](https://github.com/fdriesenaar/eCards#ecard)",
                "type": "object",
                "properties": {
                    "ballance": {
                        "description": "Card ballance",
                        "type": "number",
                        "format": "cents",
                        "minItems": 0,
                        "maxItems": 1
                    },
                    "cardIdCipher": {
                        "description": "Card id cipher",
                        "type": "string",
                        "minItems": 1,
                        "maxItems": 1
                    },
                    "cardIdCipherIV": {
                        "description": "Card id cipher iv",
                        "type": "string",
                        "minItems": 1,
                        "maxItems": 1
                    },
                    "cardIdCipherKey": {
                        "description": "Card id cipher key",
                        "type": "string",
                        "minItems": 1,
                        "maxItems": 1
                    },
                    "cardIdCipherPin": {
                        "description": "Card id cipher pin",
                        "type": "string",
                        "nullable": true,
                        "minItems": 1,
                        "maxItems": 1
                    },
                    "cardIdSymbology": {
                        "allOf": [
                            {
                                "minItems": 1,
                                "maxItems": 1
                            },
                            {
                                "$ref": "#/components/schemas/cardIdSymbology"
                            }
                        ]
                    },
                    "creator_id": {
                        "description": "Creator user id",
                        "type": "string",
                        "minItems": 1,
                        "maxItems": 1
                    },
                    "currency": {
                        "description": "Currency code",
                        "type": "string",
                        "format": "ISO 4217 currency code",
                        "default": "EUR",
                        "minItems": 0,
                        "maxItems": 1
                    },
                    "dateBalanceUpdated": {
                        "description": "Datetimestamp of latest balance update",
                        "type": "string",
                        "format": "iso 8601",
                        "minItems": 0,
                        "maxItems": 1
                    },
                    "dateCreated": {
                        "description": "Datetimestamp of creation",
                        "type": "string",
                        "format": "iso 8601",
                        "minItems": 1,
                        "maxItems": 1
                    },
                    "dateDeleted": {
                        "description": "Datetimestamp of deletion",
                        "type": "string",
                        "format": "iso 8601",
                        "nullable": true,
                        "minItems": 0,
                        "maxItems": 1
                    },
                    "dateIssued": {
                        "description": "Datetimestamp of card issue",
                        "type": "string",
                        "format": "iso 8601",
                        "minItems": 0,
                        "maxItems": 1
                    },
                    "dateModified": {
                        "description": "Datetimestamp of latest modification",
                        "type": "string",
                        "format": "iso 8601",
                        "nullable": true,
                        "minItems": 1,
                        "maxItems": 1
                    },
                    "description": {
                        "description": "eCard description",
                        "type": "string",
                        "nullable": true,
                        "minItems": 0,
                        "maxItems": 1
                    },
                    "eCardTemplate": {
                        "allOf": [
                            {
                                "nullable": true,
                                "minItems": 1,
                                "maxItems": 1
                            },
                            {
                                "$ref": "#/components/schemas/eCardTemplate"
                            }
                        ]
                    },
                    "name": {
                        "description": "name",
                        "type": "string",
                        "nullable": true,
                        "minItems": 1,
                        "maxItems": 1
                    },
                    "notes": {
                        "description": "notes",
                        "type": "string",
                        "nullable": true,
                        "minItems": 0,
                        "maxItems": 1
                    },
                    "sortName": {
                        "description": "Sort name",
                        "type": "string",
                        "nullable": true,
                        "minItems": 1,
                        "maxItems": 1
                    },
                    "style": {
                        "allOf": [
                            {
                                "minItems": 0,
                                "maxItems": 1
                            },
                            {
                                "$ref": "#/components/schemas/style"
                            }
                        ]
                    },
                    "transactions": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/transaction"
                        },
                        "minItems": 0,
                        "maxItems": 1
                    }
                }
            },
            "eCardTemplate": {
                "type": "object"
            },
            "geometry": {
                "type": "object"
            },
            "offer": {
                "type": "object"
            },
            "style": {
                "type": "object"
            },
            "transaction": {
                "type": "object"
            },
            "userId": {
                "description": "[User Id](https://github.com/fdriesenaar/eCards#user-id)",
                "type": "string",
                "minItems": 1,
                "maxItems": 1
            }
        },
        "responses": {
            "actionPosted": {
                "description": "Action posted"
            },
            "api": {
                "description": "Api response",
                "content": {
                    "application/json": {
                        "schema": {
                            "$ref": "#/components/schemas/apiInfo"
                        },
                        "examples": {
                            "apiGetAppAuthenticated": {
                                "$ref": "#/components/examples/apiGetAppAuthenticated"
                            }
                        }
                    }
                }
            },
            "default": {
                "description": "Default response",
                "content": {
                    "application/json": {
                        "schema": {
                            "type": "object",
                            "properties": {
                                "errors": {
                                    "type": "array",
                                    "items": {
                                        "type": "object",
                                        "properties": {
                                            "status": {
                                                "type": "number",
                                                "enum": [
                                                    401
                                                ]
                                            },
                                            "message": {
                                                "type": "string",
                                                "pattern": "Authentication required!"
                                            }
                                        }
                                    }
                                }
                            }
                        },
                        "examples": {
                            "example": {
                                "$ref": "#/components/examples/authenticationRequired"
                            }
                        }
                    }
                }
            },
            "userDeleted": {
                "description": "User deleted"
            }
        },
        "parameters": {
            "userId": {
                "name": "userId",
                "in": "path",
                "required": true,
                "schema": {
                    "$ref": "#/components/schemas/userId"
                }
            }
        },
        "examples": {
            "action": {
                "dateStart": "2018-12-18T10:17:01.760+01:00",
                "dateEnd": "2018-12-18T10:17:08.388+01:00",
                "eCard": {
                    "_id": "5c1b5a3b49362d15e90af6b4",
                    "cardIdCipher": "jkE5EY2j+8lBHnylSz1K5uHqEAW2jCanQ1g6zw0ULZ8=",
                    "cardIdCipherIV": "PHf2jXsvP+1cvY/wKTdJ6UvKXwTySia6u/YSXb6QRaMc26OfbemNd3EByM4DS7osz62Cb+qVuZrsCKtdKSUoFvMvdbHmBKxVuVCDMpCA1pEyCjVLqb3zm+tWTele+ICMtVe01Oknf5N4m9/KyVJfDy3Uzii3ziCqbrIskKonPPFj1O8cZt4OWcULmawJMKfifCCuQlqzfoTWuB/+k6kWN2d9dTGSNJj+ti3/KjmZj4QHuR8mW7JmdEJYlNmzhlI+1ulvHczbfGT9/3RGxBqH+yudb+EtS7xjozxtlaLPMfnh8a0YN3ElaHVopuNgCdBMC72IGNbTJylKdPgEP1wFQA==",
                    "cardIdCipherKey": "ed3sIe7b0LcTqqG+sV1r71rVmhY5bdvH0silSaAeBgfj1gDOhw9LPN4KkX+QM1kRXtvkW84/w++xHl6ofB9E1zUG3C7iEe9PiGdBm4XwHGJBB/X5hKhZqqWEa+lQMTEX9GKtVvgZofPazTx+Cy3A1BHS1aUNQGWoY5vwML6wIcMwxEp65iRQLQ6PkHkNqPenassMaci+s3VjOj3NjKIuqpMdGUMt5YKRHIIOhmL5qnfHlkIy5RYUzDrBtSRJtYpZi3L3YJGvqTnLcLPkEiWht7zCJWJ42pvTXqobzbZEJ320hm8mlG0eQHzi2arVFhJNDHHFiIzg7i9ef4WFx623wg==",
                    "cardIdSymbology": null,
                    "dateCreated": "2018-11-19T13:38:00.001+00:00",
                    "dateDeleted": null,
                    "dateModified": "2018-11-19T13:38:00.001+00:00",
                    "description": null,
                    "eCardTemplate": {
                        "brand": {
                            "name": "Praxis"
                        },
                        "cardIdSymbology": null,
                        "creator": {
                            "name": "Digital Me"
                        },
                        "dateCreated": "2018-11-13T11:38:00.001+00:00",
                        "dateDeleted": null,
                        "dateModified": "2018-12-03T23:08:54.215+00:00",
                        "_id": "5beaf11ef34f391adf32fd65",
                        "name": "Praxis",
                        "sortName": "Praxis",
                        "style": {
                            "backgroundColor": "#FFDD00",
                            "backgroundImage": [
                                {
                                    "size": "small",
                                    "url": "https://dappre.dolden.net/klanten/ecards/img-logos/praxis_sm.png"
                                },
                                {
                                    "size": "medium",
                                    "url": "https://dappre.dolden.net/klanten/ecards/img-logos/praxis_md.png"
                                },
                                {
                                    "size": "large",
                                    "url": "https://dappre.dolden.net/klanten/ecards/img-logos/praxis_lg.png"
                                }
                            ]
                        }
                    },
                    "name": "Praxis",
                    "notes": null,
                    "sortName": "Praxis",
                    "style": {
                        "backgroundColor": "#FFDD00",
                        "backgroundImage": [
                            {
                                "size": "small",
                                "url": "https://dappre.dolden.net/klanten/ecards/img-logos/praxis_sm.png"
                            },
                            {
                                "size": "medium",
                                "url": "https://dappre.dolden.net/klanten/ecards/img-logos/praxis_md.png"
                            },
                            {
                                "size": "large",
                                "url": "https://dappre.dolden.net/klanten/ecards/img-logos/praxis_lg.png"
                            }
                        ]
                    },
                    "creator_id": "eCardsApiDocDev2User"
                },
                "type": "InteractAction"
            },
            "actionList": [
                {
                    "dateStart": "2018-12-18T10:17:01.760+01:00",
                    "dateEnd": "2018-12-18T10:17:08.388+01:00",
                    "eCard": {
                        "_id": "5c1b5a3b49362d15e90af6b4",
                        "cardIdCipher": "jkE5EY2j+8lBHnylSz1K5uHqEAW2jCanQ1g6zw0ULZ8=",
                        "cardIdCipherIV": "PHf2jXsvP+1cvY/wKTdJ6UvKXwTySia6u/YSXb6QRaMc26OfbemNd3EByM4DS7osz62Cb+qVuZrsCKtdKSUoFvMvdbHmBKxVuVCDMpCA1pEyCjVLqb3zm+tWTele+ICMtVe01Oknf5N4m9/KyVJfDy3Uzii3ziCqbrIskKonPPFj1O8cZt4OWcULmawJMKfifCCuQlqzfoTWuB/+k6kWN2d9dTGSNJj+ti3/KjmZj4QHuR8mW7JmdEJYlNmzhlI+1ulvHczbfGT9/3RGxBqH+yudb+EtS7xjozxtlaLPMfnh8a0YN3ElaHVopuNgCdBMC72IGNbTJylKdPgEP1wFQA==",
                        "cardIdCipherKey": "ed3sIe7b0LcTqqG+sV1r71rVmhY5bdvH0silSaAeBgfj1gDOhw9LPN4KkX+QM1kRXtvkW84/w++xHl6ofB9E1zUG3C7iEe9PiGdBm4XwHGJBB/X5hKhZqqWEa+lQMTEX9GKtVvgZofPazTx+Cy3A1BHS1aUNQGWoY5vwML6wIcMwxEp65iRQLQ6PkHkNqPenassMaci+s3VjOj3NjKIuqpMdGUMt5YKRHIIOhmL5qnfHlkIy5RYUzDrBtSRJtYpZi3L3YJGvqTnLcLPkEiWht7zCJWJ42pvTXqobzbZEJ320hm8mlG0eQHzi2arVFhJNDHHFiIzg7i9ef4WFx623wg==",
                        "cardIdSymbology": null,
                        "dateCreated": "2018-11-19T13:38:00.001+00:00",
                        "dateDeleted": null,
                        "dateModified": "2018-11-19T13:38:00.001+00:00",
                        "description": null,
                        "eCardTemplate": {
                            "brand": {
                                "name": "Praxis"
                            },
                            "cardIdSymbology": null,
                            "creator": {
                                "name": "Digital Me"
                            },
                            "dateCreated": "2018-11-13T11:38:00.001+00:00",
                            "dateDeleted": null,
                            "dateModified": "2018-12-03T23:08:54.215+00:00",
                            "_id": "5beaf11ef34f391adf32fd65",
                            "name": "Praxis",
                            "sortName": "Praxis",
                            "style": {
                                "backgroundColor": "#FFDD00",
                                "backgroundImage": [
                                    {
                                        "size": "small",
                                        "url": "https://dappre.dolden.net/klanten/ecards/img-logos/praxis_sm.png"
                                    },
                                    {
                                        "size": "medium",
                                        "url": "https://dappre.dolden.net/klanten/ecards/img-logos/praxis_md.png"
                                    },
                                    {
                                        "size": "large",
                                        "url": "https://dappre.dolden.net/klanten/ecards/img-logos/praxis_lg.png"
                                    }
                                ]
                            }
                        },
                        "name": "Praxis",
                        "notes": null,
                        "sortName": "Praxis",
                        "style": {
                            "backgroundColor": "#FFDD00",
                            "backgroundImage": [
                                {
                                    "size": "small",
                                    "url": "https://dappre.dolden.net/klanten/ecards/img-logos/praxis_sm.png"
                                },
                                {
                                    "size": "medium",
                                    "url": "https://dappre.dolden.net/klanten/ecards/img-logos/praxis_md.png"
                                },
                                {
                                    "size": "large",
                                    "url": "https://dappre.dolden.net/klanten/ecards/img-logos/praxis_lg.png"
                                }
                            ]
                        },
                        "creator_id": "eCardsApiDocDev2User"
                    },
                    "type": "InteractAction"
                },
                {
                    "dateStart": "2018-12-18T10:17:08.988+01:00",
                    "dateEnd": "2018-12-18T10:17:10.746+01:00",
                    "eCard": {
                        "_id": "5c1b5a8649362d15e90af6b6",
                        "cardIdCipher": "jkE5EY2j+8lBHnylSz1K5uHqEAW2jCanQ1g6zw0ULZ8=",
                        "cardIdCipherIV": "PHf2jXsvP+1cvY/wKTdJ6UvKXwTySia6u/YSXb6QRaMc26OfbemNd3EByM4DS7osz62Cb+qVuZrsCKtdKSUoFvMvdbHmBKxVuVCDMpCA1pEyCjVLqb3zm+tWTele+ICMtVe01Oknf5N4m9/KyVJfDy3Uzii3ziCqbrIskKonPPFj1O8cZt4OWcULmawJMKfifCCuQlqzfoTWuB/+k6kWN2d9dTGSNJj+ti3/KjmZj4QHuR8mW7JmdEJYlNmzhlI+1ulvHczbfGT9/3RGxBqH+yudb+EtS7xjozxtlaLPMfnh8a0YN3ElaHVopuNgCdBMC72IGNbTJylKdPgEP1wFQA==",
                        "cardIdCipherKey": "ed3sIe7b0LcTqqG+sV1r71rVmhY5bdvH0silSaAeBgfj1gDOhw9LPN4KkX+QM1kRXtvkW84/w++xHl6ofB9E1zUG3C7iEe9PiGdBm4XwHGJBB/X5hKhZqqWEa+lQMTEX9GKtVvgZofPazTx+Cy3A1BHS1aUNQGWoY5vwML6wIcMwxEp65iRQLQ6PkHkNqPenassMaci+s3VjOj3NjKIuqpMdGUMt5YKRHIIOhmL5qnfHlkIy5RYUzDrBtSRJtYpZi3L3YJGvqTnLcLPkEiWht7zCJWJ42pvTXqobzbZEJ320hm8mlG0eQHzi2arVFhJNDHHFiIzg7i9ef4WFx623wg==",
                        "cardIdSymbology": null,
                        "creator_id": "eCardsApiDocDev2User",
                        "dateCreated": "2018-11-19T13:38:00.001+00:00",
                        "dateDeleted": null,
                        "dateModified": "2018-11-19T13:38:00.001+00:00",
                        "description": null,
                        "eCardTemplate": {
                            "brand": {
                                "name": "Praxis"
                            },
                            "cardIdSymbology": null,
                            "creator": {
                                "name": "Digital Me"
                            },
                            "dateCreated": "2018-11-13T11:38:00.001+00:00",
                            "dateDeleted": null,
                            "dateModified": "2018-12-03T23:08:54.215+00:00",
                            "_id": "5beaf11ef34f391adf32fd65",
                            "name": "Praxis",
                            "sortName": "Praxis",
                            "style": {
                                "backgroundColor": "#FFDD00",
                                "backgroundImage": [
                                    {
                                        "size": "small",
                                        "url": "https://dappre.dolden.net/klanten/ecards/img-logos/praxis_sm.png"
                                    },
                                    {
                                        "size": "medium",
                                        "url": "https://dappre.dolden.net/klanten/ecards/img-logos/praxis_md.png"
                                    },
                                    {
                                        "size": "large",
                                        "url": "https://dappre.dolden.net/klanten/ecards/img-logos/praxis_lg.png"
                                    }
                                ]
                            }
                        },
                        "name": "Praxis",
                        "notes": null,
                        "sortName": "Praxis",
                        "style": {
                            "backgroundColor": "#FFDD00",
                            "backgroundImage": [
                                {
                                    "size": "small",
                                    "url": "https://dappre.dolden.net/klanten/ecards/img-logos/praxis_sm.png"
                                },
                                {
                                    "size": "medium",
                                    "url": "https://dappre.dolden.net/klanten/ecards/img-logos/praxis_md.png"
                                },
                                {
                                    "size": "large",
                                    "url": "https://dappre.dolden.net/klanten/ecards/img-logos/praxis_lg.png"
                                }
                            ]
                        }
                    },
                    "type": "InteractAction"
                }
            ],
            "apiGetAppAuthenticated": {
                "value": {
                    "serverTime": 1568366519145,
                    "currentVersion": "1.0.67-SNAPSHOT"
                }
            },
            "authenticationRequired": {
                "value": {
                    "errors": [
                        {
                            "status": 401,
                            "message": "Authentication required!"
                        }
                    ]
                }
            },
            "backgroundImage": [
                {
                    "size": "small",
                    "url": "https://dappre.dolden.net/klanten/ecards/img-logos/praxis_sm.png"
                },
                {
                    "size": "medium",
                    "url": "https://dappre.dolden.net/klanten/ecards/img-logos/praxis_md.png"
                },
                {
                    "size": "large",
                    "url": "https://dappre.dolden.net/klanten/ecards/img-logos/praxis_lg.png"
                }
            ],
            "eCard": {
                "cardIdCipher": "jkE5EY2j+8lBHnylSz1K5uHqEAW2jCanQ1g6zw0ULZ8=",
                "cardIdCipherIV": "PHf2jXsvP+1cvY/wKTdJ6UvKXwTySia6u/YSXb6QRaMc26OfbemNd3EByM4DS7osz62Cb+qVuZrsCKtdKSUoFvMvdbHmBKxVuVCDMpCA1pEyCjVLqb3zm+tWTele+ICMtVe01Oknf5N4m9/KyVJfDy3Uzii3ziCqbrIskKonPPFj1O8cZt4OWcULmawJMKfifCCuQlqzfoTWuB/+k6kWN2d9dTGSNJj+ti3/KjmZj4QHuR8mW7JmdEJYlNmzhlI+1ulvHczbfGT9/3RGxBqH+yudb+EtS7xjozxtlaLPMfnh8a0YN3ElaHVopuNgCdBMC72IGNbTJylKdPgEP1wFQA==",
                "cardIdCipherKey": "ed3sIe7b0LcTqqG+sV1r71rVmhY5bdvH0silSaAeBgfj1gDOhw9LPN4KkX+QM1kRXtvkW84/w++xHl6ofB9E1zUG3C7iEe9PiGdBm4XwHGJBB/X5hKhZqqWEa+lQMTEX9GKtVvgZofPazTx+Cy3A1BHS1aUNQGWoY5vwML6wIcMwxEp65iRQLQ6PkHkNqPenassMaci+s3VjOj3NjKIuqpMdGUMt5YKRHIIOhmL5qnfHlkIy5RYUzDrBtSRJtYpZi3L3YJGvqTnLcLPkEiWht7zCJWJ42pvTXqobzbZEJ320hm8mlG0eQHzi2arVFhJNDHHFiIzg7i9ef4WFx623wg==",
                "cardIdSymbology": null,
                "dateCreated": "2018-11-19T13:38:00.001+00:00",
                "dateDeleted": null,
                "dateModified": "2018-11-19T13:38:00.001+00:00",
                "description": null,
                "eCardTemplate": {
                    "brand": {
                        "name": "Praxis"
                    },
                    "cardIdSymbology": null,
                    "creator": {
                        "name": "Digital Me"
                    },
                    "dateCreated": "2018-11-13T11:38:00.001+00:00",
                    "dateDeleted": null,
                    "dateModified": "2018-12-03T23:08:54.215+00:00",
                    "name": "Praxis",
                    "sortName": "Praxis",
                    "style": {
                        "backgroundColor": "#FFDD00",
                        "backgroundImage": [
                            {
                                "size": "small",
                                "url": "https://dappre.dolden.net/klanten/ecards/img-logos/praxis_sm.png"
                            },
                            {
                                "size": "medium",
                                "url": "https://dappre.dolden.net/klanten/ecards/img-logos/praxis_md.png"
                            },
                            {
                                "size": "large",
                                "url": "https://dappre.dolden.net/klanten/ecards/img-logos/praxis_lg.png"
                            }
                        ]
                    }
                },
                "name": "Praxis",
                "notes": null,
                "sortName": "Praxis",
                "style": {
                    "backgroundColor": "#FFDD00",
                    "backgroundImage": [
                        {
                            "size": "small",
                            "url": "https://dappre.dolden.net/klanten/ecards/img-logos/praxis_sm.png"
                        },
                        {
                            "size": "medium",
                            "url": "https://dappre.dolden.net/klanten/ecards/img-logos/praxis_md.png"
                        },
                        {
                            "size": "large",
                            "url": "https://dappre.dolden.net/klanten/ecards/img-logos/praxis_lg.png"
                        }
                    ]
                },
                "creator_id": "eCardsApiDocDev2User"
            },
            "eCardTemplate": {
                "brand": {
                    "name": "Praxis"
                },
                "cardIdSymbology": null,
                "creator": {
                    "name": "Digital Me"
                },
                "dateCreated": "2018-11-13T11:38:00.001+00:00",
                "dateDeleted": null,
                "dateModified": "2018-12-03T23:08:54.215+00:00",
                "_id": "5beaf11ef34f391adf32fd65",
                "name": "Praxis",
                "sortName": "Praxis",
                "style": {
                    "backgroundColor": "#FFDD00",
                    "backgroundImage": [
                        {
                            "size": "small",
                            "url": "https://dappre.dolden.net/klanten/ecards/img-logos/praxis_sm.png"
                        },
                        {
                            "size": "medium",
                            "url": "https://dappre.dolden.net/klanten/ecards/img-logos/praxis_md.png"
                        },
                        {
                            "size": "large",
                            "url": "https://dappre.dolden.net/klanten/ecards/img-logos/praxis_lg.png"
                        }
                    ]
                }
            },
            "style": {
                "backgroundColor": "#FFDD00",
                "backgroundImage": [
                    {
                        "size": "small",
                        "url": "https://dappre.dolden.net/klanten/ecards/img-logos/praxis_sm.png"
                    },
                    {
                        "size": "medium",
                        "url": "https://dappre.dolden.net/klanten/ecards/img-logos/praxis_md.png"
                    },
                    {
                        "size": "large",
                        "url": "https://dappre.dolden.net/klanten/ecards/img-logos/praxis_lg.png"
                    }
                ]
            }
        },
        "securitySchemes": {
            "appAuthentication": {
                "$ref": "#/components/schemas/appAuthentication"
            }
        }
    },
    "security": [
        {
            "appAuthentication": []
        }
    ]
}
