{
    "openapi": "3.0.0",
    "info": {
        "title": "eCards API",
        "description": "Find more info here: [eCards API](https://github.com/fdriesenaar/eCards)",
        "externalDocs": {
            "description": "Find more info here",
            "url": "https://github.com/fdriesenaar/eCards"
        },
        "version": "1.0.0",
        "license": {
            "name": "Copyright Dappre B.V. 2019 - all rights reserved",
            "url": "https://dappre.com"
        }
    },
    "servers": [
        {
            "url": "https://dev2-card.testonly.digital-me.nl/ecards",
            "description": "Development 2 server"
        },
        {
            "url": "https://card.dolden.net/ecards",
            "description": "Acceptance server"
        },
        {
            "url": "https://card.digital-me.nl/ecards",
            "description": "Production server"
        }
    ],
    "paths": {
        "/openapi.json": {
            "get": {
                "tags": [
                    "openapi"
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/openapiDotJson"
                    }
                }
            }
        },
        "/openapi.yaml": {
            "get": {
                "tags": [
                    "openapi"
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/openapiDotYaml"
                    }
                }
            }
        },
        "/v1/users/{userId}": {
            "delete": {
                "tags": [
                    "Users"
                ],
                "description": "See [Delete user](https://github.com/fdriesenaar/eCards#delete-user).",
                "operationId": "Delete user",
                "responses": {
                    "202": {
                        "$ref": "#/components/reponses/httpResponseBody"
                    },
                    "204": {
                        "$ref": "#/components/responses/userDeleted"
                    },
                    "default": {
                        "$ref": "#/components/responses/default"
                    }
                }
            },
            "parameters": [
                {
                    "$ref": "#/components/parameters/userId"
                }
            ]
        },
        "/v1/users/{userId}/api": {
            "get": {
                "tags": [
                    "api"
                ],
                "description": "See [GET Api](https://github.com/fdriesenaar/eCards#api-info).",
                "operationId": "api",
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/api"
                    },
                    "202": {
                        "$ref": "#/components/reponses/httpResponseBody"
                    },
                    "default": {
                        "$ref": "#/components/responses/default"
                    }
                }
            },
            "parameters": [
                {
                    "$ref": "#/components/parameters/userId"
                }
            ]
        },
        "/v1/users/{userId}/api/schema": {
            "get": {
                "tags": [
                    "openapi"
                ],
                "description": "OpenAPI Document for eCards in json-schema draft 4",
                "operationId": "Get",
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/apiSchema"
                    },
                    "202": {
                        "$ref": "#/components/reponses/httpResponseBody"
                    },
                    "default": {
                        "$ref": "#/components/responses/default"
                    }
                }
            },
            "parameters": [
                {
                    "$ref": "#/components/parameters/userId"
                }
            ]
        },
        "/v1/users/{userId}/actions": {
            "post": {
                "tags": [
                    "Actions"
                ],
                "description": "See [Post actions](https://github.com/fdriesenaar/eCards#post-actions).",
                "operationId": "Post actions",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/actionList"
                            },
                            "examples": {
                                "example": {
                                    "$ref": "#/components/examples/actionList"
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "202": {
                        "$ref": "#/components/reponses/httpResponseBody"
                    },
                    "204": {
                        "$ref": "#/components/responses/actionPosted"
                    },
                    "default": {
                        "$ref": "#/components/responses/default"
                    }
                }
            },
            "parameters": [
                {
                    "$ref": "#/components/parameters/userId"
                }
            ]
        },
        "/v1/users/{userId}/dataExchange": {
            "get": {
                "tags": [
                    "Data Exchange"
                ],
                "description": "tbd",
                "operationId": "Get",
                "responses": {
                    "202": {
                        "$ref": "#/components/reponses/httpResponseBody"
                    },
                    "default": {
                        "$ref": "#/components/responses/default"
                    }
                }
            },
            "parameters": [
                {
                    "$ref": "#/components/parameters/userId"
                }
            ]
        },
        "/v1/users/{userId}/eCards": {
            "get": {
                "tags": [
                    "eCards"
                ],
                "description": "Get eCard",
                "operationId": "Get eCard",
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/eCards"
                    },
                    "202": {
                        "$ref": "#/components/reponses/httpResponseBody"
                    },
                    "default": {
                        "$ref": "#/components/responses/default"
                    }
                }
            },
            "post": {
                "operationId": "addECard",
                "parameters": [
                    {
                        "name": "userId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/CreatorId"
                        }
                    },
                    {
                        "name": "ECards-MetaData",
                        "in": "header",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "User-Agent",
                        "in": "header",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "empty": {
                                        "type": "boolean"
                                    }
                                },
                                "additionalProperties": {
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "default": {
                        "description": "default response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "empty": {
                                            "type": "boolean"
                                        }
                                    },
                                    "additionalProperties": {
                                        "type": "object"
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "parameters": [
                {
                    "$ref": "#/components/parameters/userId"
                }
            ]
        },
        "/v1/users/{userId}/eCards/{oid}": {
            "delete": {
                "tags": [
                    "eCards"
                ],
                "operationId": "Delete eCard",
                "responses": {
                    "202": {
                        "$ref": "#/components/reponses/httpResponseBody"
                    },
                    "204": {
                        "description": "204 Response"
                    },
                    "default": {
                        "$ref": "#/components/responses/default"
                    }
                }
            },
            "put": {
                "tags": [
                    "eCards"
                ],
                "operationId": "Update eCard",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/eCardUpdate"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "200 Response"
                    },
                    "202": {
                        "$ref": "#/components/reponses/httpResponseBody"
                    },
                    "default": {
                        "$ref": "#/components/responses/default"
                    }
                }
            },
            "parameters": [
                {
                    "$ref": "#/components/parameters/userId"
                },
                {
                    "$ref": "#/components/parameters/oid"
                },
                {
                    "$ref": "#/components/parameters/eCardsMetaData"
                },
                {
                    "$ref": "#/components/parameters/userAgent"
                }
            ]
        },
        "/v1/users/{userId}/services/offers": {
            "get": {
                "tags": [
                    "Offers"
                ],
                "description": "tbd",
                "operationId": "Get offers",
                "responses": {
                    "202": {
                        "$ref": "#/components/reponses/httpResponseBody"
                    },
                    "default": {
                        "$ref": "#/components/responses/default"
                    }
                }
            },
            "parameters": [
                {
                    "$ref": "#/components/parameters/userId"
                }
            ]
        },
        "/v1/users/{userId}/eCardTemplates": {
            "get": {
                "tags": [
                    "Templates"
                ],
                "description": "tbd",
                "operationId": "Get",
                "responses": {
                    "202": {
                        "$ref": "#/components/reponses/httpResponseBody"
                    },
                    "default": {
                        "$ref": "#/components/responses/default"
                    }
                }
            },
            "parameters": [
                {
                    "$ref": "#/components/parameters/userId"
                }
            ]
        },
        "/v1/users/{userId}/eCardTemplates/{ecardTemplateId}/services/balanceAndTransactions": {
            "description": "See https://digital-me.atlassian.net/wiki/spaces/DAP/pages/33352/SDD+4+-+eCards+Balance+and+Transactions",
            "parameters": [
                {
                    "$ref": "#/components/parameters/userId"
                },
                {
                    "$ref": "#/components/parameters/eCardTemplateId"
                }
            ],
            "post": {
                "tags": [
                    "Balance and transactions"
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/cardInfoScopre"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/balanceAndTransactions"
                    },
                    "202": {
                        "$ref": "#/components/reponses/httpResponseBody"
                    },
                    "default": {
                        "$ref": "#/components/responses/default"
                    }
                }
            }
        },
        "/v1/users/{userId}/eCardTemplatesSelections": {
            "get": {
                "tags": [
                    "Templates Selections"
                ],
                "description": "tbd",
                "operationId": "Get",
                "responses": {
                    "202": {
                        "$ref": "#/components/reponses/httpResponseBody"
                    },
                    "default": {
                        "$ref": "#/components/responses/default"
                    }
                }
            },
            "parameters": [
                {
                    "$ref": "#/components/parameters/userId"
                }
            ]
        }
    },
    "components": {
        "schemas": {
            "action": {
                "description": "See [Action](https://github.com/fdriesenaar/eCards#action)",
                "type": "object",
                "properties": {
                    "creator_id": {
                        "description": "Creator [user id](https://github.com/fdriesenaar/eCards#user-id)",
                        "type": "string",
                        "minItems": 1,
                        "maxItems": 1
                    },
                    "dateStart": {
                        "description": "Datetimestamp of action start",
                        "type": "string",
                        "format": "iso 8601",
                        "minItems": 1,
                        "maxItems": 1
                    },
                    "dateEnd": {
                        "description": "Datetimestamp of action end",
                        "type": "string",
                        "format": "iso 8601",
                        "minItems": 1,
                        "maxItems": 1
                    },
                    "eCard": {
                        "$ref": "#/components/schemas/eCard",
                        "minItems": 0,
                        "maxItems": 1
                    },
                    "location": {
                        "$ref": "#/components/schemas/geometry",
                        "minItems": 0,
                        "maxItems": 1
                    },
                    "offer": {
                        "$ref": "#/components/schemas/offer",
                        "minItems": 0,
                        "maxItems": 1
                    },
                    "type": {
                        "description": "Action type",
                        "type": "string",
                        "enum": [
                            "CreateAction",
                            "InteractAction",
                            "DeleteAction",
                            "ViewOfferAction",
                            "UpdateAction"
                        ],
                        "minItems": 1,
                        "maxItems": 1
                    },
                    "userAgent": {
                        "description": "Information about the eCards client extracted from the user-agent http request header",
                        "type": "string",
                        "minItems": 1,
                        "maxItems": 1
                    }
                }
            },
            "actionList": {
                "description": "[Action](https://github.com/fdriesenaar/eCards#action) list",
                "type": "array",
                "items": {
                    "$ref": "#/components/schemas/action"
                }
            },
            "apiInfo": {
                "type": "object",
                "properties": {
                    "currentVersion": {
                        "type": "string"
                    },
                    "links": {
                        "type": "object",
                        "properties": {
                            "actions": {
                                "description": "Current Actions Endpoint url, see [Actions](#/Actions)",
                                "type": "string",
                                "format": "url",
                                "example": "https://dev2-card.testonly.digital-me.nl/ecards/v1/users/rudy/actions"
                            },
                            "dataExchange": {
                                "description": "Current Data Exchange Endpoint url, see [Data Exchange](#/Data%20Exchange)",
                                "type": "string",
                                "format": "url",
                                "example": "https://dev2-card.testonly.digital-me.nl/ecards/v1/users/rudy/dataExchange"
                            },
                            "eCards": {
                                "description": "Current eCards Endpoint url, see [eCards](#/eCards)",
                                "type": "string",
                                "format": "url",
                                "example": "https://dev2-card.testonly.digital-me.nl/ecards/v1/users/rudy/eCards"
                            },
                            "offers": {
                                "description": "Current Offers Endpoint url, see [Offers](#/Offers)",
                                "type": "string",
                                "format": "url",
                                "example": "https://dev2-card.testonly.digital-me.nl/ecards/v1/users/rudy/services/offers"
                            },
                            "schema": {
                                "description": "Current Schema Endpoint url, see [Schema](#/Schema)",
                                "type": "string",
                                "format": "url",
                                "example": "https://dev2-card.testonly.digital-me.nl/ecards/v1/users/rudy/api/schema"
                            },
                            "templates": {
                                "description": "Current Templates Endpoint url, see [Templates](#/Templates)",
                                "type": "string",
                                "format": "url",
                                "example": "https://dev2-card.testonly.digital-me.nl/ecards/v1/users/rudy/eCardTemplates"
                            },
                            "templatesSelections": {
                                "description": "Current Templates Selections Endpoint url, see [Templates Selections](#/Templates Selections)",
                                "type": "string",
                                "format": "url",
                                "example": "https://dev2-card.testonly.digital-me.nl/ecards/v1/users/rudy/eCardTemplatesSelections"
                            },
                            "user": {
                                "description": "Current User Endpoint url, see [Users](#/Users)",
                                "type": "string",
                                "format": "url",
                                "example": "https://dev2-card.testonly.digital-me.nl/ecards/v1/users/rudy"
                            }
                        }
                    },
                    "linkTemplates": {
                        "type": "object",
                        "properties": {
                            "services": {
                                "type": "string",
                                "format": "url",
                                "example": "https://dev2-card.testonly.digital-me.nl/ecards/v1/users/rudy/eCardTemplates/{templateId}/services/{service}"
                            }
                        }
                    },
                    "serverTime": {
                        "description": "Server time in unix time in mili seconds.",
                        "type": "number"
                    }
                }
            },
            "appAuthentication": {
                "description": "See [App Authentication](https://github.com/fdriesenaar/eCards#app-authentication)",
                "type": "http",
                "scheme": "Basic"
            },
            "balanceAndTransactions": {
                "description": "Balance and Transactions response body"
            },
            "balanceAndTransactionsRequest": {
                "description": "Balance and Transactions request body",
                "type": "object",
                "properties": {
                    "cardId": {
                        "type": "string"
                    },
                    "pin": {
                        "type": "string"
                    }
                }
            },
            "brandName": {
                "type": "object",
                "properties": {
                    "name": {
                        "description": "Brand name",
                        "type": "string",
                        "minItems": 1,
                        "maxItems": 1
                    }
                }
            },
            "cardId": {
                "descripion": "Card identifier as displayed on a physical card as text or as scannable code",
                "externalDocs": {
                    "description": "DAP SDD #6 - cardId",
                    "url": "https://digital-me.atlassian.net/wiki/spaces/DAP/pages/61079553/SDD+6+-+cardId"
                },
                "type": "object",
                "properties": {
                    "symbology": {
                        "description": "Symbology used to present a scannable code on the eCard",
                        "type": "string",
                        "enum": [
                            "EAN-13",
                            "UPC-A",
                            "EAN-8",
                            "UPC-E",
                            "Code 39",
                            "Code 128",
                            "GS1-128",
                            "GS1 QR Code",
                            "ITF-14",
                            "GS1 DataBar",
                            "PDF417",
                            "Aztec Code",
                            "Code 39 mod 43",
                            "Code 93",
                            "GS1 DataMatrix",
                            "ITF"
                        ],
                        "minItems": 1,
                        "maxItems": 1
                    },
                    "prefix": {
                        "description": "Prefix",
                        "type": "string",
                        "minItems": 0,
                        "maxItems": 1
                    },
                    "postfix": {
                        "description": "Postfix",
                        "type": "string",
                        "minItems": 0,
                        "maxItems": 1
                    },
                    "visibility": {
                        "description": "",
                        "type": "string",
                        "minItems": 1,
                        "maxItems": 1
                    },
                    "validator": {
                        "description": "",
                        "type": "string",
                        "minItems": 1,
                        "maxItems": 1
                    },
                    "mask": {
                        "description": "",
                        "type": "string",
                        "minItems": 1,
                        "maxItems": 1
                    }
                }
            },
            "cardIdSymbology": {
                "description": "Supported card code symbol types",
                "type": "array",
                "items": {
                    "type": "string",
                    "title": "Card code symbol type",
                    "enum": [
                        "Aztec Code",
                        "Codabar",
                        "Code 128",
                        "Code 39",
                        "Code 39 mod 43",
                        "Code 93",
                        "DataBar Expanded",
                        "DataBar-14",
                        "DataMatrix",
                        "EAN-128",
                        "EAN-13",
                        "EAN-8",
                        "GS1 DataMatrix",
                        "GS1 QR Code",
                        "GS1-128",
                        "GS1-13",
                        "ITF",
                        "ITF-14",
                        "MaxiCode",
                        "PDF417",
                        "QR",
                        "UPC-E"
                    ]
                }
            },
            "eCard": {
                "description": "See [eCard](https://github.com/fdriesenaar/eCards#ecard)",
                "type": "object",
                "properties": {
                    "ballance": {
                        "description": "Card ballance",
                        "type": "number",
                        "format": "cents",
                        "minItems": 0,
                        "maxItems": 1
                    },
                    "cardIdCipher": {
                        "description": "Card id cipher",
                        "type": "string",
                        "minItems": 1,
                        "maxItems": 1
                    },
                    "cardIdCipherIV": {
                        "description": "Card id cipher iv",
                        "type": "string",
                        "minItems": 1,
                        "maxItems": 1
                    },
                    "cardIdCipherKey": {
                        "description": "Card id cipher key",
                        "type": "string",
                        "minItems": 1,
                        "maxItems": 1
                    },
                    "cardIdCipherPin": {
                        "description": "Card id cipher pin",
                        "type": "string",
                        "nullable": true,
                        "minItems": 1,
                        "maxItems": 1
                    },
                    "cardIdSymbology": {
                        "allOf": [
                            {
                                "minItems": 1,
                                "maxItems": 1
                            },
                            {
                                "$ref": "#/components/schemas/cardIdSymbology"
                            }
                        ]
                    },
                    "creator_id": {
                        "description": "Creator user id",
                        "type": "string",
                        "minItems": 1,
                        "maxItems": 1
                    },
                    "currency": {
                        "description": "Currency code",
                        "type": "string",
                        "format": "ISO 4217 currency code",
                        "default": "EUR",
                        "minItems": 0,
                        "maxItems": 1
                    },
                    "dateBalanceUpdated": {
                        "description": "Datetimestamp of latest balance update",
                        "type": "string",
                        "format": "iso 8601",
                        "minItems": 0,
                        "maxItems": 1
                    },
                    "dateCreated": {
                        "description": "Datetimestamp of creation",
                        "type": "string",
                        "format": "iso 8601",
                        "minItems": 1,
                        "maxItems": 1
                    },
                    "dateDeleted": {
                        "description": "Datetimestamp of deletion",
                        "type": "string",
                        "format": "iso 8601",
                        "nullable": true,
                        "minItems": 0,
                        "maxItems": 1
                    },
                    "dateIssued": {
                        "description": "Datetimestamp of card issue",
                        "type": "string",
                        "format": "iso 8601",
                        "minItems": 0,
                        "maxItems": 1
                    },
                    "dateModified": {
                        "description": "Datetimestamp of latest modification",
                        "type": "string",
                        "format": "iso 8601",
                        "nullable": true,
                        "minItems": 1,
                        "maxItems": 1
                    },
                    "description": {
                        "description": "eCard description",
                        "type": "string",
                        "nullable": true,
                        "minItems": 0,
                        "maxItems": 1
                    },
                    "eCardTemplate": {
                        "allOf": [
                            {
                                "nullable": true,
                                "minItems": 1,
                                "maxItems": 1
                            },
                            {
                                "$ref": "#/components/schemas/eCardTemplate"
                            }
                        ]
                    },
                    "name": {
                        "description": "name",
                        "type": "string",
                        "nullable": true,
                        "minItems": 1,
                        "maxItems": 1
                    },
                    "notes": {
                        "description": "notes",
                        "type": "string",
                        "nullable": true,
                        "minItems": 0,
                        "maxItems": 1
                    },
                    "sortName": {
                        "description": "Sort name",
                        "type": "string",
                        "nullable": true,
                        "minItems": 1,
                        "maxItems": 1
                    },
                    "style": {
                        "allOf": [
                            {
                                "minItems": 0,
                                "maxItems": 1
                            },
                            {
                                "$ref": "#/components/schemas/style"
                            }
                        ]
                    },
                    "transactions": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/transaction"
                        },
                        "minItems": 0,
                        "maxItems": 1
                    }
                }
            },
            "eCardUpdate": {
                "summary": "eCard update request body",
                "type": "object"
            },
            "eCardsMetaData": {
                "type": "object",
                "properties": {
                    "dateStart": {
                        "description": "Datetimestamp of action start",
                        "type": "string",
                        "format": "iso 8601",
                        "minItems": 1,
                        "maxItems": 1
                    },
                    "dateEnd": {
                        "description": "Datetimestamp of action end",
                        "type": "string",
                        "format": "iso 8601",
                        "minItems": 1,
                        "maxItems": 1
                    }
                },
                "example": {
                    "dateStart": "2018-12-19T11:11:46.849+01:00",
                    "dateEnd": "2018-12-19T11:11:47.994+01:00"
                }
            },
            "eCards": {
                "type": "array",
                "items": {
                    "$ref": "#/components/schemas/eCard"
                }
            },
            "eCardTemplate": {
                "description": "eCard template",
                "properties": {
                    "brand": {
                        "allOf": [
                            {
                                "minItems": 1,
                                "maxItems": 1
                            },
                            {
                                "$ref": "#/components/schemas/brandName"
                            }
                        ]
                    },
                    "cardIdSymbology": {
                        "allOf": [
                            {
                                "minItems": 1,
                                "maxItems": 1
                            },
                            {
                                "$ref": "#/components/schemas/cardIdSymbology"
                            }
                        ]
                    },
                    "cardId": {
                        "allOf": [
                            {
                                "minItems": 0,
                                "maxItems": 1
                            },
                            {
                                "$ref": "#/components/schemas/cardId"
                            }
                        ]
                    },
                    "creator": {
                        "type": "object",
                        "description": "Creator of the eCard template",
                        "properties": {
                            "name": {
                                "type": "string",
                                "description": "Creator name",
                                "minItems": 1,
                                "maxItems": 1
                            }
                        }
                    },
                    "dateCreated": {
                        "description": "Datetimestamp of creation",
                        "type": "string",
                        "format": "iso 8601",
                        "minItems": 1,
                        "maxItems": 1
                    },
                    "dateDeleted": {
                        "description": "Datetimestamp of deletion",
                        "type": "string",
                        "format": "iso 8601",
                        "nullable": true,
                        "minItems": 0,
                        "maxItems": 1
                    },
                    "dateModified": {
                        "description": "Datetimestamp of latest modification",
                        "type": "string",
                        "format": "iso 8601",
                        "nullable": true,
                        "minItems": 1,
                        "maxItems": 1
                    },
                    "keywords": {
                        "type": "array",
                        "items": {
                            "title": "Keyword",
                            "type": "string"
                        },
                        "minItems": 1,
                        "maxItems": 1
                    },
                    "name": {
                        "type": "string",
                        "nullable": true,
                        "description": "Name to be displayed on the eCard.",
                        "minItems": 0,
                        "maxItems": 1
                    },
                    "notes": {
                        "type": "string",
                        "nullable": true,
                        "minItems": 0,
                        "maxItems": 1
                    },
                    "services": {
                        "allOf": [
                            {
                                "minItems": 1,
                                "maxItems": 1
                            },
                            {
                                "$ref": "#/components/schemas/services"
                            }
                        ]
                    },
                    "sortName": {
                        "type": "string",
                        "nullable": true,
                        "minItems": 1,
                        "maxItems": 1
                    },
                    "style": {
                        "allOf": [
                            {
                                "minItems": 1,
                                "maxItems": 1
                            },
                            {
                                "$ref": "#/components/schemas/style"
                            }
                        ]
                    },
                    "types": {
                        "type": "array",
                        "items": {
                            "description": "eCard type",
                            "type": "string",
                            "enum": [
                                "customer_membership_account",
                                "customer_rebate_account",
                                "customer_loyalty_program",
                                "customer_subscription_program",
                                "stored_value_instrument",
                                "stored_value_instrument_open",
                                "stored_value_instrument_closed"
                            ]
                        },
                        "minItems": 0,
                        "maxItems": 1
                    },
                    "url": {
                        "description": "Webshop url",
                        "type": "string",
                        "format": "url",
                        "minItems": 0,
                        "maxItems": 1
                    }
                }
            },
            "geometry": {
                "type": "object"
            },
            "httpResponseBody": {
                "type": "object",
                "properties": {
                    "code": {
                        "title": "Http response status code",
                        "type": "string",
                        "minItems": 1,
                        "maxItems": 1
                    },
                    "message": {
                        "title": "Response message",
                        "type": "string",
                        "minItems": 1,
                        "maxItems": 1
                    }
                }
            },
            "objectId": {
                "summary": "MongoDB object id",
                "type": "string",
                "example": "5c1b5a3b49362d15e90af6b4",
                "externalDocs": {
                    "description": "MongoDB ObjectId description",
                    "url": "https://docs.mongodb.com/manual/reference/method/ObjectId/"
                }
            },
            "offer": {
                "type": "object"
            },
            "services": {
                "type": "object"
            },
            "style": {
                "type": "object"
            },
            "transaction": {
                "type": "object"
            },
            "userId": {
                "description": "See [User Id](https://github.com/fdriesenaar/eCards#user-id)",
                "type": "string"
            }
        },
        "responses": {
            "actionPosted": {
                "description": "Action posted"
            },
            "api": {
                "description": "Api response",
                "content": {
                    "application/json": {
                        "schema": {
                            "$ref": "#/components/schemas/apiInfo"
                        },
                        "examples": {
                            "apiGetAppAuthenticated": {
                                "$ref": "#/components/examples/apiInfo"
                            }
                        }
                    }
                }
            },
            "apiSchema": {
                "description": "Api schema response",
                "content": {
                    "application/json": {
                        "examples": {
                            "json-schema draf-4 example": {
                                "description": "See [.examples/schema.json](./examples/schema.json)"
                            }
                        }
                    }
                }
            },
            "balanceAndTransactions": {
                "description": "BalanceAndTransactions Get response 200",
                "content": {
                    "application/json": {
                        "schema": {
                            "$ref": "#/components/schemas/balanceAndTransactions"
                        }
                    }
                }
            },
            "default": {
                "description": "Default response",
                "content": {
                    "application/json": {
                        "schema": {
                            "type": "object",
                            "properties": {
                                "errors": {
                                    "type": "array",
                                    "items": {
                                        "type": "object",
                                        "properties": {
                                            "status": {
                                                "type": "number",
                                                "enum": [
                                                    401
                                                ]
                                            },
                                            "message": {
                                                "type": "string",
                                                "pattern": "Authentication required!"
                                            }
                                        }
                                    }
                                }
                            }
                        },
                        "examples": {
                            "example": {
                                "$ref": "#/components/examples/authenticationRequired"
                            }
                        }
                    }
                }
            },
            "eCards": {
                "content": {
                    "application/json": {
                        "schema": {
                            "$ref": "#/components/schemas/eCards"
                        },
                        "examples": {
                            "example": {
                                "#ref": "#/components/examples/eCards"
                            }
                        }
                    }
                }
            },
            "httpResponseBody": {
                "summary": "HTTP 202 response body",
                "description": "The request has been accepted but not processed, see body for more information.",
                "content": {
                    "application/json": {
                        "schema": {
                            "$ref": "#/components/schemas/httpResponseBody"
                        }
                    }
                }
            },
            "openapiDotJson": {
                "description": "Get openapi.json response",
                "content": {
                    "application/json": {
                        "examples": {
                            "example": {
                                "description": "See [.examples/openapi.json](./examples/openapi.json)"
                            }
                        }
                    }
                }
            },
            "openapiDotYaml": {
                "description": "Get openapi.yaml response",
                "content": {
                    "application/yaml": {
                        "examples": {
                            "example": {
                                "description": "See [.examples/openapi.yaml](./examples/openapi.yaml)"
                            }
                        }
                    }
                }
            },
            "userDeleted": {
                "description": "User deleted"
            }
        },
        "parameters": {
            "eCardsMetaData": {
                "name": "ECards-MetaData",
                "in": "header",
                "schema": {
                    "$ref": "#/components/schemas/eCardsMetaData"
                }
            },
            "eCardTemplateId": {
                "name": "ecard_template_id",
                "description": "eCard template object id",
                "in": "path",
                "schema": {
                    "$ref": "#/components/schemas/ObjectId"
                }
            },
            "oid": {
                "name": "oid",
                "in": "path",
                "required": true,
                "schema": {
                    "$ref": "#/components/schemas/objectId"
                }
            },
            "userAgent": {
                "name": "User-Agent",
                "in": "header",
                "schema": {
                    "type": "string"
                }
            },
            "userId": {
                "name": "userId",
                "in": "path",
                "required": true,
                "schema": {
                    "$ref": "#/components/schemas/userId"
                }
            }
        },
        "examples": {
            "action": {
                "dateStart": "2018-12-18T10:17:01.760+01:00",
                "dateEnd": "2018-12-18T10:17:08.388+01:00",
                "eCard": {
                    "_id": "5c1b5a3b49362d15e90af6b4",
                    "cardIdCipher": "jkE5EY2j+8lBHnylSz1K5uHqEAW2jCanQ1g6zw0ULZ8=",
                    "cardIdCipherIV": "PHf2jXsvP+1cvY/wKTdJ6UvKXwTySia6u/YSXb6QRaMc26OfbemNd3EByM4DS7osz62Cb+qVuZrsCKtdKSUoFvMvdbHmBKxVuVCDMpCA1pEyCjVLqb3zm+tWTele+ICMtVe01Oknf5N4m9/KyVJfDy3Uzii3ziCqbrIskKonPPFj1O8cZt4OWcULmawJMKfifCCuQlqzfoTWuB/+k6kWN2d9dTGSNJj+ti3/KjmZj4QHuR8mW7JmdEJYlNmzhlI+1ulvHczbfGT9/3RGxBqH+yudb+EtS7xjozxtlaLPMfnh8a0YN3ElaHVopuNgCdBMC72IGNbTJylKdPgEP1wFQA==",
                    "cardIdCipherKey": "ed3sIe7b0LcTqqG+sV1r71rVmhY5bdvH0silSaAeBgfj1gDOhw9LPN4KkX+QM1kRXtvkW84/w++xHl6ofB9E1zUG3C7iEe9PiGdBm4XwHGJBB/X5hKhZqqWEa+lQMTEX9GKtVvgZofPazTx+Cy3A1BHS1aUNQGWoY5vwML6wIcMwxEp65iRQLQ6PkHkNqPenassMaci+s3VjOj3NjKIuqpMdGUMt5YKRHIIOhmL5qnfHlkIy5RYUzDrBtSRJtYpZi3L3YJGvqTnLcLPkEiWht7zCJWJ42pvTXqobzbZEJ320hm8mlG0eQHzi2arVFhJNDHHFiIzg7i9ef4WFx623wg==",
                    "cardIdSymbology": null,
                    "dateCreated": "2018-11-19T13:38:00.001+00:00",
                    "dateDeleted": null,
                    "dateModified": "2018-11-19T13:38:00.001+00:00",
                    "description": null,
                    "eCardTemplate": {
                        "brand": {
                            "name": "Praxis"
                        },
                        "cardIdSymbology": null,
                        "creator": {
                            "name": "Digital Me"
                        },
                        "dateCreated": "2018-11-13T11:38:00.001+00:00",
                        "dateDeleted": null,
                        "dateModified": "2018-12-03T23:08:54.215+00:00",
                        "_id": "5beaf11ef34f391adf32fd65",
                        "name": "Praxis",
                        "sortName": "Praxis",
                        "style": {
                            "backgroundColor": "#FFDD00",
                            "backgroundImage": [
                                {
                                    "size": "small",
                                    "url": "https://dappre.dolden.net/klanten/ecards/img-logos/praxis_sm.png"
                                },
                                {
                                    "size": "medium",
                                    "url": "https://dappre.dolden.net/klanten/ecards/img-logos/praxis_md.png"
                                },
                                {
                                    "size": "large",
                                    "url": "https://dappre.dolden.net/klanten/ecards/img-logos/praxis_lg.png"
                                }
                            ]
                        }
                    },
                    "name": "Praxis",
                    "notes": null,
                    "sortName": "Praxis",
                    "style": {
                        "backgroundColor": "#FFDD00",
                        "backgroundImage": [
                            {
                                "size": "small",
                                "url": "https://dappre.dolden.net/klanten/ecards/img-logos/praxis_sm.png"
                            },
                            {
                                "size": "medium",
                                "url": "https://dappre.dolden.net/klanten/ecards/img-logos/praxis_md.png"
                            },
                            {
                                "size": "large",
                                "url": "https://dappre.dolden.net/klanten/ecards/img-logos/praxis_lg.png"
                            }
                        ]
                    },
                    "creator_id": "eCardsApiDocDev2User"
                },
                "type": "InteractAction"
            },
            "actionList": [
                {
                    "dateStart": "2018-12-18T10:17:01.760+01:00",
                    "dateEnd": "2018-12-18T10:17:08.388+01:00",
                    "eCard": {
                        "_id": "5c1b5a3b49362d15e90af6b4",
                        "cardIdCipher": "jkE5EY2j+8lBHnylSz1K5uHqEAW2jCanQ1g6zw0ULZ8=",
                        "cardIdCipherIV": "PHf2jXsvP+1cvY/wKTdJ6UvKXwTySia6u/YSXb6QRaMc26OfbemNd3EByM4DS7osz62Cb+qVuZrsCKtdKSUoFvMvdbHmBKxVuVCDMpCA1pEyCjVLqb3zm+tWTele+ICMtVe01Oknf5N4m9/KyVJfDy3Uzii3ziCqbrIskKonPPFj1O8cZt4OWcULmawJMKfifCCuQlqzfoTWuB/+k6kWN2d9dTGSNJj+ti3/KjmZj4QHuR8mW7JmdEJYlNmzhlI+1ulvHczbfGT9/3RGxBqH+yudb+EtS7xjozxtlaLPMfnh8a0YN3ElaHVopuNgCdBMC72IGNbTJylKdPgEP1wFQA==",
                        "cardIdCipherKey": "ed3sIe7b0LcTqqG+sV1r71rVmhY5bdvH0silSaAeBgfj1gDOhw9LPN4KkX+QM1kRXtvkW84/w++xHl6ofB9E1zUG3C7iEe9PiGdBm4XwHGJBB/X5hKhZqqWEa+lQMTEX9GKtVvgZofPazTx+Cy3A1BHS1aUNQGWoY5vwML6wIcMwxEp65iRQLQ6PkHkNqPenassMaci+s3VjOj3NjKIuqpMdGUMt5YKRHIIOhmL5qnfHlkIy5RYUzDrBtSRJtYpZi3L3YJGvqTnLcLPkEiWht7zCJWJ42pvTXqobzbZEJ320hm8mlG0eQHzi2arVFhJNDHHFiIzg7i9ef4WFx623wg==",
                        "cardIdSymbology": null,
                        "dateCreated": "2018-11-19T13:38:00.001+00:00",
                        "dateDeleted": null,
                        "dateModified": "2018-11-19T13:38:00.001+00:00",
                        "description": null,
                        "eCardTemplate": {
                            "brand": {
                                "name": "Praxis"
                            },
                            "cardIdSymbology": null,
                            "creator": {
                                "name": "Digital Me"
                            },
                            "dateCreated": "2018-11-13T11:38:00.001+00:00",
                            "dateDeleted": null,
                            "dateModified": "2018-12-03T23:08:54.215+00:00",
                            "_id": "5beaf11ef34f391adf32fd65",
                            "name": "Praxis",
                            "sortName": "Praxis",
                            "style": {
                                "backgroundColor": "#FFDD00",
                                "backgroundImage": [
                                    {
                                        "size": "small",
                                        "url": "https://dappre.dolden.net/klanten/ecards/img-logos/praxis_sm.png"
                                    },
                                    {
                                        "size": "medium",
                                        "url": "https://dappre.dolden.net/klanten/ecards/img-logos/praxis_md.png"
                                    },
                                    {
                                        "size": "large",
                                        "url": "https://dappre.dolden.net/klanten/ecards/img-logos/praxis_lg.png"
                                    }
                                ]
                            }
                        },
                        "name": "Praxis",
                        "notes": null,
                        "sortName": "Praxis",
                        "style": {
                            "backgroundColor": "#FFDD00",
                            "backgroundImage": [
                                {
                                    "size": "small",
                                    "url": "https://dappre.dolden.net/klanten/ecards/img-logos/praxis_sm.png"
                                },
                                {
                                    "size": "medium",
                                    "url": "https://dappre.dolden.net/klanten/ecards/img-logos/praxis_md.png"
                                },
                                {
                                    "size": "large",
                                    "url": "https://dappre.dolden.net/klanten/ecards/img-logos/praxis_lg.png"
                                }
                            ]
                        },
                        "creator_id": "eCardsApiDocDev2User"
                    },
                    "type": "InteractAction"
                },
                {
                    "dateStart": "2018-12-18T10:17:08.988+01:00",
                    "dateEnd": "2018-12-18T10:17:10.746+01:00",
                    "eCard": {
                        "_id": "5c1b5a8649362d15e90af6b6",
                        "cardIdCipher": "jkE5EY2j+8lBHnylSz1K5uHqEAW2jCanQ1g6zw0ULZ8=",
                        "cardIdCipherIV": "PHf2jXsvP+1cvY/wKTdJ6UvKXwTySia6u/YSXb6QRaMc26OfbemNd3EByM4DS7osz62Cb+qVuZrsCKtdKSUoFvMvdbHmBKxVuVCDMpCA1pEyCjVLqb3zm+tWTele+ICMtVe01Oknf5N4m9/KyVJfDy3Uzii3ziCqbrIskKonPPFj1O8cZt4OWcULmawJMKfifCCuQlqzfoTWuB/+k6kWN2d9dTGSNJj+ti3/KjmZj4QHuR8mW7JmdEJYlNmzhlI+1ulvHczbfGT9/3RGxBqH+yudb+EtS7xjozxtlaLPMfnh8a0YN3ElaHVopuNgCdBMC72IGNbTJylKdPgEP1wFQA==",
                        "cardIdCipherKey": "ed3sIe7b0LcTqqG+sV1r71rVmhY5bdvH0silSaAeBgfj1gDOhw9LPN4KkX+QM1kRXtvkW84/w++xHl6ofB9E1zUG3C7iEe9PiGdBm4XwHGJBB/X5hKhZqqWEa+lQMTEX9GKtVvgZofPazTx+Cy3A1BHS1aUNQGWoY5vwML6wIcMwxEp65iRQLQ6PkHkNqPenassMaci+s3VjOj3NjKIuqpMdGUMt5YKRHIIOhmL5qnfHlkIy5RYUzDrBtSRJtYpZi3L3YJGvqTnLcLPkEiWht7zCJWJ42pvTXqobzbZEJ320hm8mlG0eQHzi2arVFhJNDHHFiIzg7i9ef4WFx623wg==",
                        "cardIdSymbology": null,
                        "creator_id": "eCardsApiDocDev2User",
                        "dateCreated": "2018-11-19T13:38:00.001+00:00",
                        "dateDeleted": null,
                        "dateModified": "2018-11-19T13:38:00.001+00:00",
                        "description": null,
                        "eCardTemplate": {
                            "brand": {
                                "name": "Praxis"
                            },
                            "cardIdSymbology": null,
                            "creator": {
                                "name": "Digital Me"
                            },
                            "dateCreated": "2018-11-13T11:38:00.001+00:00",
                            "dateDeleted": null,
                            "dateModified": "2018-12-03T23:08:54.215+00:00",
                            "_id": "5beaf11ef34f391adf32fd65",
                            "name": "Praxis",
                            "sortName": "Praxis",
                            "style": {
                                "backgroundColor": "#FFDD00",
                                "backgroundImage": [
                                    {
                                        "size": "small",
                                        "url": "https://dappre.dolden.net/klanten/ecards/img-logos/praxis_sm.png"
                                    },
                                    {
                                        "size": "medium",
                                        "url": "https://dappre.dolden.net/klanten/ecards/img-logos/praxis_md.png"
                                    },
                                    {
                                        "size": "large",
                                        "url": "https://dappre.dolden.net/klanten/ecards/img-logos/praxis_lg.png"
                                    }
                                ]
                            }
                        },
                        "name": "Praxis",
                        "notes": null,
                        "sortName": "Praxis",
                        "style": {
                            "backgroundColor": "#FFDD00",
                            "backgroundImage": [
                                {
                                    "size": "small",
                                    "url": "https://dappre.dolden.net/klanten/ecards/img-logos/praxis_sm.png"
                                },
                                {
                                    "size": "medium",
                                    "url": "https://dappre.dolden.net/klanten/ecards/img-logos/praxis_md.png"
                                },
                                {
                                    "size": "large",
                                    "url": "https://dappre.dolden.net/klanten/ecards/img-logos/praxis_lg.png"
                                }
                            ]
                        }
                    },
                    "type": "InteractAction"
                }
            ],
            "apiInfo": {
                "value": {
                    "currentVersion": "1.3.1-SNAPSHOT",
                    "links": {
                        "actions": "https://dev2-card.testonly.digital-me.nl/ecards/v1/users/rudy/actions",
                        "dataExchange": "https://dev2-card.testonly.digital-me.nl/ecards/v1/users/rudy/dataExchange",
                        "eCards": "https://dev2-card.testonly.digital-me.nl/ecards/v1/users/rudy/eCards",
                        "offers": "https://dev2-card.testonly.digital-me.nl/ecards/v1/users/rudy/services/offers",
                        "schema": "https://dev2-card.testonly.digital-me.nl/ecards/v1/users/rudy/api/schema",
                        "templates": "https://dev2-card.testonly.digital-me.nl/ecards/v1/users/rudy/eCardTemplates",
                        "templateSelections": "https://dev2-card.testonly.digital-me.nl/ecards/v1/users/rudy/eCardTemplatesSelections",
                        "user": "https://dev2-card.testonly.digital-me.nl/ecards/v1/users/rudy"
                    },
                    "linkTemplates": {
                        "services": "https://dev2-card.testonly.digital-me.nl/ecards/v1/users/rudy/eCardTemplates/{templateId}/services/{service}"
                    },
                    "serverTime": 1572531524892
                }
            },
            "authenticationRequired": {
                "value": {
                    "errors": [
                        {
                            "status": 401,
                            "message": "Authentication required!"
                        }
                    ]
                }
            },
            "backgroundImage": [
                {
                    "size": "small",
                    "url": "https://dappre.dolden.net/klanten/ecards/img-logos/praxis_sm.png"
                },
                {
                    "size": "medium",
                    "url": "https://dappre.dolden.net/klanten/ecards/img-logos/praxis_md.png"
                },
                {
                    "size": "large",
                    "url": "https://dappre.dolden.net/klanten/ecards/img-logos/praxis_lg.png"
                }
            ],
            "eCard": {
                "cardIdCipher": "jkE5EY2j+8lBHnylSz1K5uHqEAW2jCanQ1g6zw0ULZ8=",
                "cardIdCipherIV": "PHf2jXsvP+1cvY/wKTdJ6UvKXwTySia6u/YSXb6QRaMc26OfbemNd3EByM4DS7osz62Cb+qVuZrsCKtdKSUoFvMvdbHmBKxVuVCDMpCA1pEyCjVLqb3zm+tWTele+ICMtVe01Oknf5N4m9/KyVJfDy3Uzii3ziCqbrIskKonPPFj1O8cZt4OWcULmawJMKfifCCuQlqzfoTWuB/+k6kWN2d9dTGSNJj+ti3/KjmZj4QHuR8mW7JmdEJYlNmzhlI+1ulvHczbfGT9/3RGxBqH+yudb+EtS7xjozxtlaLPMfnh8a0YN3ElaHVopuNgCdBMC72IGNbTJylKdPgEP1wFQA==",
                "cardIdCipherKey": "ed3sIe7b0LcTqqG+sV1r71rVmhY5bdvH0silSaAeBgfj1gDOhw9LPN4KkX+QM1kRXtvkW84/w++xHl6ofB9E1zUG3C7iEe9PiGdBm4XwHGJBB/X5hKhZqqWEa+lQMTEX9GKtVvgZofPazTx+Cy3A1BHS1aUNQGWoY5vwML6wIcMwxEp65iRQLQ6PkHkNqPenassMaci+s3VjOj3NjKIuqpMdGUMt5YKRHIIOhmL5qnfHlkIy5RYUzDrBtSRJtYpZi3L3YJGvqTnLcLPkEiWht7zCJWJ42pvTXqobzbZEJ320hm8mlG0eQHzi2arVFhJNDHHFiIzg7i9ef4WFx623wg==",
                "cardIdSymbology": null,
                "dateCreated": "2018-11-19T13:38:00.001+00:00",
                "dateDeleted": null,
                "dateModified": "2018-11-19T13:38:00.001+00:00",
                "description": null,
                "eCardTemplate": {
                    "brand": {
                        "name": "Praxis"
                    },
                    "cardIdSymbology": null,
                    "creator": {
                        "name": "Digital Me"
                    },
                    "dateCreated": "2018-11-13T11:38:00.001+00:00",
                    "dateDeleted": null,
                    "dateModified": "2018-12-03T23:08:54.215+00:00",
                    "name": "Praxis",
                    "sortName": "Praxis",
                    "style": {
                        "backgroundColor": "#FFDD00",
                        "backgroundImage": [
                            {
                                "size": "small",
                                "url": "https://dappre.dolden.net/klanten/ecards/img-logos/praxis_sm.png"
                            },
                            {
                                "size": "medium",
                                "url": "https://dappre.dolden.net/klanten/ecards/img-logos/praxis_md.png"
                            },
                            {
                                "size": "large",
                                "url": "https://dappre.dolden.net/klanten/ecards/img-logos/praxis_lg.png"
                            }
                        ]
                    }
                },
                "name": "Praxis",
                "notes": null,
                "sortName": "Praxis",
                "style": {
                    "backgroundColor": "#FFDD00",
                    "backgroundImage": [
                        {
                            "size": "small",
                            "url": "https://dappre.dolden.net/klanten/ecards/img-logos/praxis_sm.png"
                        },
                        {
                            "size": "medium",
                            "url": "https://dappre.dolden.net/klanten/ecards/img-logos/praxis_md.png"
                        },
                        {
                            "size": "large",
                            "url": "https://dappre.dolden.net/klanten/ecards/img-logos/praxis_lg.png"
                        }
                    ]
                },
                "creator_id": "eCardsApiDocDev2User"
            },
            "eCards": [
                {
                    "cardIdCipher": "jkE5EY2j+8lBHnylSz1K5uHqEAW2jCanQ1g6zw0ULZ8=",
                    "cardIdCipherIV": "PHf2jXsvP+1cvY/wKTdJ6UvKXwTySia6u/YSXb6QRaMc26OfbemNd3EByM4DS7osz62Cb+qVuZrsCKtdKSUoFvMvdbHmBKxVuVCDMpCA1pEyCjVLqb3zm+tWTele+ICMtVe01Oknf5N4m9/KyVJfDy3Uzii3ziCqbrIskKonPPFj1O8cZt4OWcULmawJMKfifCCuQlqzfoTWuB/+k6kWN2d9dTGSNJj+ti3/KjmZj4QHuR8mW7JmdEJYlNmzhlI+1ulvHczbfGT9/3RGxBqH+yudb+EtS7xjozxtlaLPMfnh8a0YN3ElaHVopuNgCdBMC72IGNbTJylKdPgEP1wFQA==",
                    "cardIdCipherKey": "ed3sIe7b0LcTqqG+sV1r71rVmhY5bdvH0silSaAeBgfj1gDOhw9LPN4KkX+QM1kRXtvkW84/w++xHl6ofB9E1zUG3C7iEe9PiGdBm4XwHGJBB/X5hKhZqqWEa+lQMTEX9GKtVvgZofPazTx+Cy3A1BHS1aUNQGWoY5vwML6wIcMwxEp65iRQLQ6PkHkNqPenassMaci+s3VjOj3NjKIuqpMdGUMt5YKRHIIOhmL5qnfHlkIy5RYUzDrBtSRJtYpZi3L3YJGvqTnLcLPkEiWht7zCJWJ42pvTXqobzbZEJ320hm8mlG0eQHzi2arVFhJNDHHFiIzg7i9ef4WFx623wg==",
                    "cardIdSymbology": null,
                    "dateCreated": "2018-11-19T13:38:00.001+00:00",
                    "dateDeleted": null,
                    "dateModified": "2018-11-19T13:38:00.001+00:00",
                    "description": null,
                    "eCardTemplate": {
                        "brand": {
                            "name": "Praxis"
                        },
                        "cardIdSymbology": null,
                        "creator": {
                            "name": "Digital Me"
                        },
                        "dateCreated": "2018-11-13T11:38:00.001+00:00",
                        "dateDeleted": null,
                        "dateModified": "2018-12-03T23:08:54.215+00:00",
                        "name": "Praxis",
                        "sortName": "Praxis",
                        "style": {
                            "backgroundColor": "#FFDD00",
                            "backgroundImage": [
                                {
                                    "size": "small",
                                    "url": "https://dappre.dolden.net/klanten/ecards/img-logos/praxis_sm.png"
                                },
                                {
                                    "size": "medium",
                                    "url": "https://dappre.dolden.net/klanten/ecards/img-logos/praxis_md.png"
                                },
                                {
                                    "size": "large",
                                    "url": "https://dappre.dolden.net/klanten/ecards/img-logos/praxis_lg.png"
                                }
                            ]
                        }
                    },
                    "name": "Praxis",
                    "notes": null,
                    "sortName": "Praxis",
                    "style": {
                        "backgroundColor": "#FFDD00",
                        "backgroundImage": [
                            {
                                "size": "small",
                                "url": "https://dappre.dolden.net/klanten/ecards/img-logos/praxis_sm.png"
                            },
                            {
                                "size": "medium",
                                "url": "https://dappre.dolden.net/klanten/ecards/img-logos/praxis_md.png"
                            },
                            {
                                "size": "large",
                                "url": "https://dappre.dolden.net/klanten/ecards/img-logos/praxis_lg.png"
                            }
                        ]
                    },
                    "creator_id": "eCardsApiDocDev2User"
                }
            ],
            "eCardTemplate": {
                "brand": {
                    "name": "Praxis"
                },
                "cardIdSymbology": null,
                "creator": {
                    "name": "Digital Me"
                },
                "dateCreated": "2018-11-13T11:38:00.001+00:00",
                "dateDeleted": null,
                "dateModified": "2018-12-03T23:08:54.215+00:00",
                "_id": "5beaf11ef34f391adf32fd65",
                "name": "Praxis",
                "sortName": "Praxis",
                "style": {
                    "backgroundColor": "#FFDD00",
                    "backgroundImage": [
                        {
                            "size": "small",
                            "url": "https://dappre.dolden.net/klanten/ecards/img-logos/praxis_sm.png"
                        },
                        {
                            "size": "medium",
                            "url": "https://dappre.dolden.net/klanten/ecards/img-logos/praxis_md.png"
                        },
                        {
                            "size": "large",
                            "url": "https://dappre.dolden.net/klanten/ecards/img-logos/praxis_lg.png"
                        }
                    ]
                }
            },
            "style": {
                "backgroundColor": "#FFDD00",
                "backgroundImage": [
                    {
                        "size": "small",
                        "url": "https://dappre.dolden.net/klanten/ecards/img-logos/praxis_sm.png"
                    },
                    {
                        "size": "medium",
                        "url": "https://dappre.dolden.net/klanten/ecards/img-logos/praxis_md.png"
                    },
                    {
                        "size": "large",
                        "url": "https://dappre.dolden.net/klanten/ecards/img-logos/praxis_lg.png"
                    }
                ]
            }
        },
        "securitySchemes": {
            "appAuthentication": {
                "$ref": "#/components/schemas/appAuthentication"
            }
        }
    },
    "security": [
        {
            "appAuthentication": []
        }
    ]
}
